<h2><%=t(:curriculums_heading)%></h2>

<!--%= render 'remove_confirmation_modal' %-->

<table id="curriculums-table" class="table">
  <thead>
    <tr>
      <th><%=t('.curriculum')%></th>
      <th><%=t('.years')%></th>
    </tr>
  </thead>
  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td data-name="true"><%= link_to curriculum.name, curriculum_url(:id => curriculum) %></td>
        <td><%= curriculum.start_year %>-<%= curriculum.end_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
