<% content_for :javascripts do %>
  <%= javascript_include_tag "views/curriculums/index" %>
<% end %>

<h1><%=t('.heading')%></h1>

<ul class="unstyled curriculum-list">
  <% @curriculums.each do |curriculum| %>
    <li style="padding-bottom: 1ex">
      <% if can? :update, curriculum %>
        <%= link_to curriculum.name, edit_curriculum_path(:id => curriculum) %>
      <% else %>
        <% if curriculum.competences.size == 1 %>
          <%= link_to curriculum.name, [curriculum, curriculum.competences.first] %>
        <% else %>
          <%= link_to curriculum.name, curriculum_path(:id => curriculum) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if can? :create, Curriculum %>
  <p><%= link_to t('.curriculum_new'), new_curriculum_path, :class => 'btn btn-primary' %></p>
<% end %>
