<% content_for :javascripts do %>
  <%= javascript_include_tag "views/curriculums/index" %>
<% end %>

<h1><%=t('.heading')%></h1>

<table id="curriculums-table" class="table">
  <thead>
    <tr>
      <th><%=t('.curriculum')%></th>
      <th><%=t('.years')%></th>
    </tr>
  </thead>
  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td data-name="true">
          <% if can? :update, curriculum %>
            <%= link_to curriculum.name, edit_curriculum_path(:id => curriculum) %>
          <% else %>
            <%= link_to curriculum.name, curriculum_path(:id => curriculum) %>
          <% end %>
        </td>
        <td><%= curriculum.start_year %>-<%= curriculum.end_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Curriculum %>
  <p><%= link_to t('.curriculum_new'), new_curriculum_path, :class => 'btn btn-primary' %></p>
<% end %>
