<h1><%=t :curriculums_heading %></h1>

<% if can? :create, Curriculum %>
  <p><%= link_to t(:curriculum_new), new_curriculum_path, :class => 'button-base' %></p>
<% end %>

<table class="basic-table">
  <thead>
    <tr>
      <th><%= t '.curriculum' %></th>
      <th><%= t '.years' %></th>
    </tr>
  </thead>
  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%= link_to curriculum.name, curriculum_url(:id => curriculum) %></td>
        <td><%= curriculum.start_year %>-<%= curriculum.end_year %></td>
      </tr>
    <% end %>
  </tbody>
</table> 


