<% content_for :javascript do %>
  <% #= javascript_include_tag "curriculums/curriculum"
  %>
<% end %>

<div class="inline-heading-container">
  <h1 id="name-heading"><%= @curriculum.name %></h1>
  <a href="#edit-modal" data-toggle="modal" class="button-base button-small vertical-fix">
    <%= t '.change_name' %>
  </a>
</div>

<%= render "edit_modal" %>

<% if can? :update, @curriculum %>

  <div class="admin-tools well">
    <ul class="nav nav-list">
      <li class="nav-header"><%= t '.additional_tools_heading' %></li>
      <li><%= link_to t('.import_csv_link'), edit_import_csv_curriculum_path(:id => @curriculum) %></li>
      <li><%= link_to t(:curriculum_cycles_link), cycles_curriculum_path(:id => @curriculum) %></li>
      <!--li><%= link_to t('.list_outcomes'), outcomes_curriculum_path(:id => @curriculum) %></li-->
    </ul>
  </div>
<% end %>


<!-- Create competence -->
<h2><%= t 'curriculums.competences_heading' %></h2>

<% unless @curriculum.competences.empty?  %>
  <ul>
    <% @curriculum.competences.each do |competence| %>
      <!--li><%= link_to t('.edit_competence_prefix') + ': ' + competence.localized_description.name, edit_curriculum_competence_path(:curriculum_id => @curriculum, :id => competence) %></li-->
      <li><%= competence.localized_description.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>
    <span class="placeholder"><%= t '.no_competences_placeholder' %></span>
  </p>
<% end %>


<% if can? :update, @curriculum %>
  <p><%= link_to t('.competence_create_link'), new_curriculum_competence_path(@curriculum), :class => "btn btn-primary" %><p>
<% end %>


<!-- Create course -->
<h2><%= t 'curriculums.curriculum_courses' %></h2>

<% unless @curriculum.courses.empty? %>
  <table id="curriculum-courses">
    <thead>
      <tr>
        <th><%= t '.course_code' %> &darr;</th>
        <th><%= t '.course_name' %> &darr;</th>
        <th><%= t '.course_credits' %> &darr;</th>
        <th><%= t '.course_period' %> &darr;</th>
        <th><%= t '.prerequisites' %> &darr;</th>
      </tr>
    </thead>
    <tbody>
      <% @curriculum.courses.each_with_index do |course, i| %>
        <tr class="<%= i % 2 == 0 ? 'even' : 'odd' %>">
          <td>
            <%= link_to course.course_code, edit_curriculum_course_path(:curriculum_id => @curriculum, :id => course) %>
          </td>
          <td>
            <%= link_to course.localized_description.name.presence || ('<' + t('.course_name_not_found') + '>'), edit_curriculum_course_path(:curriculum_id => @curriculum, :id => course) %>
          </td>
          <td class="centered"><%= course.credits %></td>
          <td class="centered"><%= course.periods_as_roman_numerals.join(", ") %></td>
          <td class="centered"><%= course.strict_prereqs.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><span class="placeholder"><%= t '.no_courses_placeholder' %></span></p>
<% end %>

<% if can? :update, @curriculum %>
  <p><%= link_to t('.course_create_link'), 
    new_curriculum_course_path(I18n.locale, @curriculum),
    :class => "btn btn-primary",
    :id => "new-course-button" %>
  </p>
<% end %>
