<% content_for :javascript do %>
  <%= javascript_include_tag "curriculums/curriculum" %>
<% end %>

<div class="inline-heading-container">
  <h1 id="name-heading"><%= @curriculum.name %></h1>
  <a href="#edit-modal" data-toggle="modal" class="button-base button-small vertical-fix">
    <%= t '.change_name' %>
  </a>
</div>

<%= render "edit_modal" %>

<% if can? :update, @curriculum %>

  <div class="admin-tools">
    <ul>
      <li><%= link_to t('.import_csv_link'), edit_import_csv_curriculum_path(:id => @curriculum) %></li>
      <li><%= link_to t(:curriculum_cycles_link), cycles_curriculum_path(:id => @curriculum) %></li>
      <li><%= link_to t('.list_outcomes'), outcomes_curriculum_path(:id => @curriculum) %></li>
    </ul>
  </div>
<% end %>

<h2><%= t 'curriculums.competence_profiles' %></h2>

<% if can? :create, Profile %>
  <p><%= link_to t(:profile_create_link), new_curriculum_profile_path(@curriculum), :class => "button-base" %><p>
<% end %>

<%= render 'profiles_list' %>


<h2><%= t 'curriculums.curriculum_courses' %></h2>
<%= render 'courses_list' %>


