<h1><%=t('.heading')%></h1>

<%= form_for @curriculum, :as => :curriculum, :url => curriculums_url do |f| %>
  <table>
    <tr>
      <td><%= f.label :name, t('.curriculum_name') %></td>
      <td><%= f.text_field :name %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.label :name, t('.curriculum_term') %></td>
      <td><%= f.select :term_id, @terms.collect {|term| [ "#{term.start_year}-#{term.end_year}", term.id ] } %></td>
      <td></td>
    </tr>
  </table>

  <p><%= f.submit t('.confirm_create'), :class => 'btn btn-primary' %></p>
<% end %>

<%= link_to t(:Back), curriculums_path %>
