<h1><%=t :new_curriculum_heading %></h1>

<% form_for :curriculum, @curriculum, :url => curriculums_url do |f| %>
  
  <table>
    <tr>
      <td><%= f.label :start_year, t(:curriculum_start_year) %></td>
      <td><%= f.text_field :start_year %></td>
      <td><%= f.hint :start_year %></td>
    </tr>
    <tr>
      <td><%= f.label :end_year, t(:curriculum_end_year) %></td>
      <td><%= f.text_field :end_year %></td>
      <td><%= f.hint :end_year %></td>
    </tr>
  </table>
  
  <p><%= f.submit t(:Upload) %></p>
<% end %>

<%= link_to t(:Back), curriculums_path %>