<h1><%=t :prereqs_csv_heading %></h1>


<% form_remote_tag :update => 'student_table', :url => {:action => 'students_csv'} do -%>
  <%= hidden_field_tag :course_instance_id, @course_instance.id %>

  <p>Paste the list of students here</p>
  <%= text_area_tag :paste, nil, :rows => 25, :cols => 80 %>

  <p><%= submit_tag 'Upload' %></p>
<% end -%>


<% form_for :csv, :url => {:action => 'students'} do |f| -%>
  <%= hidden_field_tag :course_instance_id, @course_instance.id %>
  
  
  <p>Or upload a csv file (only utf8 supported)</p>
  <%= f.file_field :file %>
  <p><%= f.submit 'Upload' %></p>
<% end -%>


<p><%= link_to 'Back', @course_instance %></p>
