<!-- curriculums/show -->
<h1><%= @curriculum.name %></h1>

<% if can? :update, @curriculum %>
  <!--div>TODO: courses list</div-->

  <div class="admin-tools">
    <ul>
      <li><%= link_to t(:curriculum_edit_link), edit_curriculum_path(:id => @curriculum) %></li>
      <li><%= link_to t(:curriculum_cycles_link), cycles_curriculum_path(:id => @curriculum) %></li>
      <li><%= link_to t('.list_outcomes'), outcomes_curriculum_path(:id => @curriculum) %></li>
      <li><%= link_to t('.edit_roles'), new_curriculum_role_path(:curriculum_id => @curriculum) %></li>
    </ul>
  </div>
<% end %>

<!--
<h2><%= t 'curriculums.competence_profiles' %></h2>
<%= render 'profiles_list' %>
-->

<h2><%= t '.temp_courses' %></h2>

<p><%=t '.temp_courses_hint' %></p>

<%= render 'curriculums/temp_courses/index' %>

<% if can? :create_course, @curriculum %>
  <%= link_to t('.create_temp_course'), new_curriculum_temp_course_path(@curriculum) %>
<% end %>


<h2><%= t 'curriculums.curriculum_courses' %></h2>
<%= render 'courses_list' %>
