<h1><%= @curriculum.name %></h1>

  <h1>Profiles</h1>
  
  <ul>
    <% @curriculum.profiles.each do |profile| %>
      <li><%= link_to competence.name(I18n.locale), curriculum_profile_path(:curriculum_id => @curriculum, :id => profile) %></li>
    <% end %>
  </ul>
  
  <% if can? :create, Profile %>
    <p><%= link_to 'Create profile',  %><p>
  <% end %>
  
  
  <h1>Courses</h1>
  
  <ul>
    <% @curriculum.courses.each do |course| %>
      <li><%= link_to course.code + ' ' + course.name(I18n.locale), curriculum_course_path(:curriculum_id => @curriculum, :id => course) %></li>
    <% end %>
  </ul>


<% if can? :update, @curriculum %>
  <!--div>TODO: courses list</div-->

  <div class="admin-tools">
    <%= link_to 'Edit', edit_curriculum_path(:id => @curriculum) %>
    <%= link_to 'Cycles', cycles_curriculum_path(:id => @curriculum) %>
  </div>
<% end %>
