<!-- curriculums/show -->

<h1><%= @curriculum.name %></h1>

<% if can? :update, @curriculum %>
  <!--div>TODO: courses list</div-->

  <div class="admin-tools">
    <ul>
      <li><%= link_to t(:curriculum_edit_link), edit_curriculum_path(:id => @curriculum) %></li>
      <li><%= link_to t(:curriculum_cycles_link), cycles_curriculum_path(:id => @curriculum) %></li>
    </ul>
  </div>
<% end %>


<h1>Profiles</h1>

<ul>
  <% @curriculum.profiles.each do |profile| %>
    <%
      profile_name = profile.name(I18n.locale)
      profile_name = '<no name>' if profile_name.blank?
    %>
    <li><%= link_to profile_name, curriculum_profile_path(:curriculum_id => @curriculum, :id => profile) %></li>
  <% end %>
</ul>

<% if can? :create, Profile %>
  <p><%= link_to t(:profile_create_link), new_curriculum_profile_path(@curriculum) %><p>
<% end %>


<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Code &darr;</th>
      <th>Name &darr;</th>
      <th>Credits &darr;</th>
      <th>Period &darr;</th>
      <th><span title="credits: new prerequisites + already included in plan">Prerequisites &darr;</span></th>
    </tr>
  </thead>
  <% @curriculum.courses.each_with_index do |course, i| %>
    <tbody>
      <tr class="<%= i % 2 == 0 ? 'even' : 'odd' %>">
        <td><%= link_to course.code, curriculum_course_path(:curriculum_id => @curriculum, :id => course) %></td>
        <td><%= link_to course.name(I18n.locale), curriculum_course_path(:curriculum_id => @curriculum, :id => course) %></td>
        <td><%= course.credits %></td>
        <td></td>
        <td><%= course.strict_prereqs.size %></td>
      </tr>
    </tbody>
  <% end %>
</table>
