<% if can? :update, @curriculum %>  
  <ul class="nav nav-pills pull-right">
    <li><%= link_to t('Admin_view'), edit_curriculum_path(:id => @curriculum) %></li>
    <li class="active"><%= link_to t('Student_view'), @curriculum %></li>
  </ul>
<% end %>
  
<div>
  <h1><%= @curriculum.name %></h1>
</div>


<% unless @competences.empty? %>
  <h2><%= t 'curriculums.competences_heading' %></h2>
  
  <ul class="unstyled">
    <% @competences.each do |competence| %>
      <li>
        <%= link_to competence.localized_name, [@curriculum, competence] %>
        <% if competence.children %>
          <ul>
            <% competence.children.each do |competence| %>
              <li><%= link_to competence.localized_name, [@curriculum, competence] %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>


<h2><%= t('curriculums.courses_heading')%></h2>

<% unless @curriculum.courses.empty? %>
  <table id="curriculum-courses" class='table table-striped table-condensed table-bordered'>
    <thead>
      <tr>
        <th><%= t '.course_code' %> &darr;</th>
        <th><%= t '.course_name' %> &darr;</th>
        <th><%= t '.course_credits' %> &darr;</th>
        <th><%= t '.course_period' %> &darr;</th>
        <th><%= t '.prerequisites' %> &darr;</th>
      </tr>
    </thead>
    <tbody>
      <% @curriculum.courses.each_with_index do |course, i| %>
        <tr>
          <td>
            <%= link_to course.course_code, curriculum_course_path(curriculum_id: @curriculum, id: course) %>
          </td>
          <td>
            <%= link_to course.localized_name_if_possible("<#{t('curriculums.course_name_not_available')}>"), curriculum_course_path(curriculum_id: @curriculum, id: course) %>
          </td>
          <td class="centered"><%= course.credits %></td>
          <td class="centered"><%= course.period_symbols.join(", ") %></td>
          <td class="centered"><%= course.strict_prereqs.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
