<!-- curriculums/show -->
<h1><%= @curriculum.name %></h1>

<% if can? :update, @curriculum %>
  <!--div>TODO: courses list</div-->

  <div class="admin-tools well">
    <ul class="nav nav-list">
      <li class="nav-header"><%= t :admin_toolbox_heading %></li>
      <li><%= link_to t(:curriculum_edit_link), edit_curriculum_path(:id => @curriculum) %></li>
      <!--li><%= link_to t(:curriculum_cycles_link), cycles_curriculum_path(:id => @curriculum) %></li-->
      <!--li><%= link_to t('.list_outcomes'), outcomes_curriculum_path(:id => @curriculum) %></li-->
      <li><%= link_to t('.edit_roles'), new_curriculum_role_path(:curriculum_id => @curriculum) %></li>
    </ul>
  </div>
<% end %>

<% if can? :update, @curriculum %>
  <p>
    <%= link_to edit_curriculum_path(:id => @curriculum), { :class => 'btn' } do %>
      <i class="icon-edit"></i>
      <%= t(:curriculum_edit_link) %>
    <% end %>
  </p>
<% end %>

<h2><%= t 'curriculums.competences_heading' %></h2>

<% unless @curriculum.competences.empty? %>
  <ul class="unstyled">
    <% @curriculum.competences.each_with_index do |competence, i| %>
      <li><%= link_to competence.localized_name, [@curriculum, competence] %></li>
    <% end %>
  </ul>
<% end %>


<h2><%= t 'curriculums.courses_heading' %></h2>

<% unless @curriculum.courses.empty? %>
  <table id="curriculum-courses" class='table table-striped table-condensed table-bordered'>
    <thead>
      <tr>
        <th><%= t '.course_code' %> &darr;</th>
        <th><%= t '.course_name' %> &darr;</th>
        <th><%= t '.course_credits' %> &darr;</th>
        <th><%= t '.course_period' %> &darr;</th>
        <th><%= t '.prerequisites' %> &darr;</th>
      </tr>
    </thead>
    <tbody>
      <% @curriculum.courses.each_with_index do |course, i| %>
        <tr>
          <td>
            <%= course.course_code %>
          </td>
          <td>
            <%= course.localized_name_if_possible "<#{t('curriculums.course_name_not_available')}>" %>
          </td>
          <td class="centered"><%= course.credits %></td>
          <td class="centered"><%= course.periods_as_roman_numerals.join(", ") %></td>
          <td class="centered"><%= course.strict_prereqs.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
