<% @curriculum.competences.each do |competence| %>
  <!-- ko with: competencesById['<%= competence.id %>'] -->
  <div class="rounded-box <%= @chosen_competence_ids.include?( competence.id ) ? 'chosen' : '' %>" >
      <!--
       data-competence-id='<%= competence.id %>'
       data-competence-included='<%= @chosen_competence_ids.include?( competence.id ) %>'
      -->

    <h2>
      <%= link_to competence.localized_name, studyplan_competence_path( competence ) %>
    </h2>

    <p>
      <%= t('.provided_skills_heading')%>
      <ul>
        <% competence.skills.each do |skill| %>
          <li><%= skill.localized_description %></li>
        <% end %>
      </ul>
    </p>

  </div>
  <!-- /ko -->

<% end %>
