<table class="course-table" data-competence-id="<%= top_competence.id %>" data-child-competence-id="<%= competence.id %>">
  <thead>
    <tr>
      <td></td>
      <td><%=t '.course-title' %></td>
      <td></td>
      <td><%=t '.credits-title' %></td>
      <td><%=t '.period-title' %></td>
    </tr>
  </thead>
  <tbody>
    <%
    #credits_counter = included_counter = passed_counter = 0
    -%>
    <% course_list.each do |course| %>
      <tr data-abstract-course-id="<%= course.abstract_course_id %>">
        <td class="status">
          <span class="included-here">
            <i class="icon icon-asterisk" title="<%=t '.included_here' %>"></i>
          </span>
          <span class="included-elsewhere" title="<%=t '.included_elsewhere' %>">&bull;</span>
        </td>
        <td class="course-code"><%= link_to course.course_code, studyplan_competence_course_path(:competence_id => competence.id, :id => course) %></td>
        <td class="course-name"><%= link_to course.localized_name, studyplan_competence_course_path(:competence_id => competence.id, :id => course) %></td>
        <td class="course-credits"><%= course.credits %></td>
        <td class="course-period"><%= course.localized_description.default_period %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="total-credits">
    <tr>
      <td colspan="2"></td>
      <td><%=t '.credits_total' %></td>
      <td><span class="competence-credits"><%= image_tag 'progress.gif' %></span>&nbsp;<%=t :cr %></td>
      <td></td>
    </tr>
  </tfoot>
</table> 
