<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "views/plans/competences/shared", :media => 'all' %>
<% end %>

<div class='competence-list'>
  <h1><%= @curriculum.name %></h1>
  
  <div class="alert alert-info">
    O<sub>4</sub> ei ole viel채 opiskelijoiden k채ytett채viss채.
  </div>

  <% @competences.each do |competence| %>
    <div class="competence <%= @chosen_competence_ids.include?( competence.id ) ? 'chosen' : '' %>" >
      <h2>
        <% if current_user.staff? || defined?(ENABLE_STUDENT_UI) %>
          <%= link_to competence.localized_name, studyplan_competence_path( competence ) %>
        <% else %>
          <%= competence.localized_name %>
        <% end %>
      </h2>

      <% if competence.localized_description && !competence.localized_description.description.blank? %>
        <%= competence.localized_description.description.html_safe %>
      <% else %>
        <!--
        <p>
          <%= t('.provided_skills_heading')%>
          <ul>
            <% competence.skills.each do |skill| %>
              <li><%= skill.localized_name %></li>
            <% end %>
          </ul>
        </p>
        -->
      <% end %>
    </div>
  <% end %>
</div>
