<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "views/plans/competences/index", :media => 'all' %>
<% end %>

<div class='competence-list'>
  <h1><%= @curriculum.name %></h1>

  <% @competences.each do |competence| %>
    <div class="competence <%= @chosen_competence_ids.include?( competence.id ) ? 'chosen' : '' %>" >
      <h2>
        <%= link_to competence.localized_name, studyplan_competence_path( competence ) %>
      </h2>

      <% if competence.localized_description && !competence.localized_description.description.blank? %>
        <%= competence.localized_description.description.html_safe %>
      <% else %>
        <p>
          <%= t('.provided_skills_heading')%>
          <ul>
            <% competence.skills.each do |skill| %>
              <li><%= skill.localized_name %></li>
            <% end %>
          </ul>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
