<!-- plans/competences/index -->


<% content_for :javascript do %>
  <script type="text/javascript">
    <%= render "plans/competences/i18n_strings.js" %>
  </script>
  <!--
    <%= javascript_include_tag 'plans/CompetenceElectionEditor.js' %>
  -->
<% end %>


<% content_for :left_navi do %>

  <h1><%= link_to t('.competences'), studyplan_competences_path %></h1>
  <ul>
    <% @curriculum.competences.each do |competence| %>
      <li class="<%= @user.study_plan.has_competence?( competence ) ? 'chosen' : '' %>">
        <%= link_to competence.localized_name, studyplan_competence_path(:id => competence) %>
      </li>
    <% end %>
  </ul>

<% end %>


<div class="row-fluid">

  <div id='competence-list' class="span8">
    <h1><%= t('.heading')%></h1>


    <%= render 'boxed_competence_list' %>

  </div>
</div>
