<% content_for(:stylesheets) do -%>
  <%= stylesheet_link_tag "views/plans/competences/shared", :media => 'all' %>
<% end -%>
<% content_for(:javascripts) do -%>
  <%= javascript_tag do %>
    window.studyplan_summary_data = <%= @study_plan.json_summary.to_json( root: false ).html_safe %>;
    window.client_session_id = '<%= @client_session_id %>';
  <% end %>
  <%= javascript_include_tag 'views/plans/competences/show' %>
<% end -%>
<% content_for(:leftnav) do -%>
  <h1><%= link_to t('.competences'), studyplan_competences_path %></h1>
  <ul>
    <% @curriculum.competences.joins(:competence_descriptions).where(:parent_competence_id => nil, :competence_descriptions => {:locale => I18n.locale}).includes(:localized_description).order('competence_descriptions.name').each do |competence| %>
      <li class="<%= @chosen_competence_ids.member?(competence.id) ? 'chosen' : '' %> <%= competence == @competence ? 'selected' : '' %>">
        <%= link_to competence.localized_name, studyplan_competence_path(:id => competence) %>
      </li>
    <% end %>
  </ul>
<% end -%>

<% competence_selected = @user.study_plan.has_competence?(@competence) %>

<div class="well competence<%= competence_selected ? ' selected' : '' %>">

  <!-- Add / Remove -->
  <div class="pull-right">
    <% if can? :choose, @competence %>
      <% if @user.study_plan.has_competence?(@competence) %>
        <%= link_to delete_studyplan_competence_path(:id => @competence.id), {:title => t('.remove_from_plan'), :class => 'btn btn-default'} do %>
          <i class="icon icon-minus"></i>
          <%= t('.remove_from_plan') %>
        <% end %>
      <% else %>
        <%= link_to new_studyplan_competence_path(:id => @competence.id), {:title => t('.add_to_plan'), :class => 'btn btn-default'} do %>
          <i class="icon icon-plus"></i>
          <%=t ('.add_to_plan') %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <h2>
    <%= @competence.localized_name %>
  </h2>

  <!-- Description -->
  <div class="row-fluid">
    <div class="span12">
      <% if @competence.localized_description && !@competence.localized_description.description.blank? %>
        <%= @competence.localized_description.description.html_safe %>
      <% end %>
    </div>
  </div>
      
  <div class="row-fluid">
    <!-- Learning outcomes -->
    <div class="span6">
      <h3><%= t('.skills') %></h3>
      <ul>
        <% @competence.skills.each do |skill| %>
          <li><%= link_to skill.localized_name, studyplan_competence_skill_path(:competence_id => @competence, :id => skill) %></li>
        <% end %>
      </ul>
    </div>
    
    <!-- Courses -->
    <div class="span6">
      <!-- Mandatory courses -->
      <% unless @mandatory_courses.empty? %>
        <h3>
          <%= t('.strict_prereqs') %>
          
        </h3>
        <%= render :partial => 'course_table', :locals => { :course_list => @mandatory_courses, :competence => @competence } %>
      <% end %>
      
      <!-- Mandatory prereqs -->
      <% unless @mandatory_prereqs.empty? %>
        <h3><%= t('.ancestor_prereqs') %></h3>
        <%= render :partial => 'course_table', :locals => { :course_list => @mandatory_prereqs, :competence => @competence } %>
      <% end %>

      <!-- Child competences -->
      <% @competence.children.includes(:localized_description).each do |child_competence| %>
        <div class="child-competence">
          <% if child_competence.localized_description %>
            <h3>
              <%= child_competence.localized_description.name %>
              <% if child_competence.min_credits %>(<%= child_competence.min_credits %> <%=t 'cr' %>)<% end %>
            </h3>
            <p><%= child_competence.localized_description.description %></p>
          <% end %>
          
          <%= render :partial => 'course_table', :locals => { :course_list => child_competence.supporting_prereq_courses, :competence => child_competence } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Graph -->
<% if @user.treatment != TREATMENT_TRADITIONAL %>
  <h2><%=t :Course_graph %></h2>
  
  <%= render :partial => 'courses/graph_templates' %>

  <div id="course-graph" class="course-graph"
    data-graph-path="<%= graph_curriculum_path(:id => @curriculum.id) %>" 
    data-source-id="<%= @competence.id %>"
    >

    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
  </div>
<% end %>
