<% content_for(:stylesheets) do -%>
  <%= stylesheet_link_tag "views/plans/competences/shared", :media => 'all' %>
<% end -%>
<% content_for(:javascripts) do -%>
  <%= javascript_include_tag 'views/plans/courses/show' %>
<% end -%>
<% content_for(:theleft) do -%>

  <h1><%= link_to t('.competences'), studyplan_competences_path %></h1>
  <ul>
    <% @curriculum.competences.includes(:localized_description).each do |competence| %>
      <li class="<%= @chosen_competence_ids.member?(competence.id) ? 'chosen' : '' %> <%= competence == @competence ? 'selected' : '' %>">
        <%= link_to competence.localized_name, studyplan_competence_path(:id => competence) %>
      </li>
    <% end %>
  </ul>

<% end -%>

<% competence_selected = @user.study_plan.has_competence?( @competence ) %>

<div class="well competence<%= competence_selected ? ' selected' : '' %>">

  <div class="pull-right">
    <!-- Add / Remove -->
    <% if can? :choose, @competence %>
      <% if @user.study_plan.has_competence?( @competence ) %>
        <%= link_to delete_studyplan_competence_path(:id => @competence.id), {:title => t('.remove_from_plan'), :class => 'btn btn-default'} do %>
          <i class="icon icon-minus"></i>
          <%= t('.remove_from_plan') %>
        <% end %>
      <% else %>
        <%= link_to new_studyplan_competence_path(:id => @competence.id), {:title => t('.add_to_plan'), :class => 'btn btn-default'} do %>
          <i class="icon icon-plus"></i>
          <%=t ('.add_to_plan') %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <h2><%= @competence.localized_name %></h2>

  <div class="row-fluid">
    <div class="span6">
      <% if @competence.localized_description && !@competence.localized_description.description.blank? %>
        <%= @competence.localized_description.description.html_safe %>
      <% end %>
      
      <h3><%= t('.skills') %></h3>
      <ul>
        <% @competence.skills.each do |skill| %>
          <li><%= skill.localized_name %></li>
        <% end %>
      </ul>

    </div>
    <div class="span6">

      <h3><%= t('.strict_prereqs') %></h3>

      <table class="course-table">
        <tbody>
          <% credits_counter = included_counter = passed_counter = 0 %>
          <% @mandatory_courses.each do |course| %>
            <tr>
              <%
                is_passed = (@passed_courses.member? course.id)
                a_class = ''
                if @included_courses.member?(course)
                  a_class = 'included'
                  included_counter += course.credits || 0
                end
              %>
              <td><%= link_to course.course_code, studyplan_competence_course_path(:competence_id => @competence.id, :id => course), :class => a_class %></td>
              <td><%= link_to course.localized_name, studyplan_competence_course_path(:competence_id => @competence.id, :id => course), :class => a_class %></td>
              <td><%= course.credits %></td>
              <td><%= t('.course_passed') if is_passed %>
              <%
                credits_counter += course.credits || 0
                passed_counter += course.credits if is_passed
              %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="spacer">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><%= t('.credits_total') %></td>
            <td><%= credits_counter %> <%=t :cr %></td>
          </tr>

          <% unless competence_selected %>
            <tr>
              <td></td>
              <td><%= t('.credits_shared') %></td>
              <td><%= included_counter %>  <%=t :cr %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= t('.credits_passed') %></td>
              <td><%= passed_counter %> <%=t :cr %></td>
            </tr>
            <tr class="total">
              <td></td>
              <td><%= t('.credits_added') %></td>
              <td><%= "%.1f" % (credits_counter - included_counter) %> <%= t(:cr) %></td>
            </tr>
          <% end %>
        </tfoot>
      </table>

      <!-- Child competences -->
      <% @competence.children.includes(:localized_description).each do |child_competence| %>
        <p><%= child_competence.localized_description.description %></p>
        <table class="course-table">
          <tbody>
            <% child_competence.supporting_prereqs.each do |course| %>
              <tr>
                <%
                  is_passed = (@passed_courses.member? course.id)
                  a_class = ''
                  if @included_courses.member?(course.id)
                    a_class = 'included'
                    included_counter += course.credits || 0
                  end
                %>
                <td><%= link_to course.course_code, studyplan_competence_course_path(:competence_id => @competence.id, :id => course), :class => a_class %></td>
                <td><%= link_to course.localized_name, studyplan_competence_course_path(:competence_id => @competence.id, :id => course), :class => a_class %></td>
                <td><%= course.credits %></td>
                <td><%= t('.course_passed') if is_passed %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      
      <hr />
      
      <h3><%= t('.supporting_prereqs') %></h3>
      <table class="course-table">
        <tbody>
          <% credits_counter = included_counter = passed_counter = 0 %>
          <% @supporting_courses.each do |course| %>
            <tr>
              <%
                is_passed = (@passed_courses.member? course.id)
                a_class = ''
                if @included_courses.member?(course.id)
                  a_class = 'included'
                  included_counter += course.credits || 0
                end
              %>
              <td><%= link_to course.course_code, studyplan_competence_course_path(:competence_id => @competence.id, :id => course), :class => a_class %></td>
              <td><%= link_to course.localized_name, studyplan_competence_course_path(:competence_id => @competence.id, :id => course), :class => a_class %></td>
              <td><%= course.credits %></td>
              <td><%= t('.course_passed') if is_passed %>
              <%
                credits_counter += course.credits || 0
                passed_counter += course.credits if is_passed
              %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
        
        
    </div>
  </div>
</div>

<% if @user.treatment != TREATMENT_TRADITIONAL %>
  <%= render :partial => 'courses/graph_templates' %>

  <div id="course-graph"
    data-graph-path="<%= graph_curriculum_path(:id => @curriculum.id) %>" 
    data-source-id="<%= @competence.id %>"
    >

    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
  </div>
<% end %>
