<h1><%=h @profile.name(I18n.locale) %></h1>

<h2><%=t :profile_strict_prereqs %></h2>

<table class="profile-prereq-matrix">
  <thead>
    <td></td>
    <!-- Skills provided -->
    <% @areas.each do |area| %>
      <td><% area.name(I18n.locale) %></td>
    <% end %>
  </thead>
  <tbody>
    <!-- Prereq courses -->
    <% @profile.strict_prereqs.each do |course| %>
      <!--tr class="spacer">
        <td colspan="<%= @areas.size + 1 %>"></td>
      </tr-->
    
      <tr class="prereq-course-name">
        <!-- Course name -->
        <td class="prereq-course-name"><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), profile_course_url(:profile_id => @profile, :id => course) %></td>
        <td colspan='<%= @areas.size %>'></td>
      </tr>
    <% end %>

  </tbody>
</table>


<h2><%=t :profile_supporting_prereqs %></h2>

<table class="profile-prereq-matrix">
  <thead>
    <td></td>
    <!-- Skills provided -->
    <% @areas.each do |area| %>
      <td><% area.name(I18n.locale) %></td>
    <% end %>
  </thead>
  <tbody>
    <!-- Prereq courses -->
    <% @profile.supporting_prereqs.each do |course| %>
      <!--tr class="spacer">
        <td colspan="<%= @areas.size + 1 %>"></td>
      </tr-->
    
      <tr class="prereq-course-name">
        <!-- Course name -->
        <td class="prereq-course-name"><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), profile_course_url(:profile_id => @profile, :id => course) %></td>
        <td colspan='<%= @areas.size %>'></td>
      </tr>
    <% end %>

  </tbody>
</table>
