<h1><%=h @profile.name(I18n.locale) %></h1>

<!-- Add to my plan -->
<% if false && logged_in? %>
  <p><%= link_to t(:profe_add_to_plan), plan_profiles_path(:profile_id => @profile.id), :method => :post %></p>
<% end %>


<!-- Schedule -->
<% courses_count = 0 %>
<% credits_count = 0 %>
<% @semesters.each_with_index do |semester,index| %>
  <ul>
    <% semester.each do |course| %>
      <% next unless course %>
      <li><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), course_path(:id => course) %></li>
      <% credits_count += course.credits %>
      <% courses_count += 1 %>
    <% end %>
  </ul>
  <hr />
<% end %>

<table>
  <tr>
    <td>Levels:</td><td><%= @semesters.size %></td>
  </tr>
  <tr>
    <td>Courses:</td><td><%= courses_count %></td>
  </tr>
  <tr>
    <td>Credits:</td><td><%= credits_count %></td>
  </tr>
</table>


<!-- Skills provided -->
<h2><%=t :profile_skills %></h2>

<table class="course-graph">
  <thead>
    <td>Requirements</td>
    <td>Provides</td>
  </thead>

  <tbody>
    <tr>
      <td id="skill-prereqs"></td>
      <td>
        <% @profile.skills.each do |skill| %>
          <p>
            <%= link_to_remote h(skill.description(I18n.locale)), :update => 'skill-prereqs', :url => prereqs_skill_url(:id => skill) %>
          </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>


<!-- Courses required -->
<h2><%=t :profile_strict_prereqs %></h2>

<table class="profile-prereq-matrix">
  <tbody>
    <!-- Prereq courses -->
    <% @profile.strict_prereqs.each do |course| %>
      <tr class="prereq-course-name">
        <!-- Course name -->
        <td class="prereq-course-name"><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), profile_course_url(:profile_id => @profile, :id => course) %></td>
      </tr>
    <% end %>

  </tbody>
</table>


<!-- Supporting courses -->
<h2><%=t :profile_supporting_prereqs %></h2>

<table class="profile-prereq-matrix">
  <tbody>
    <!-- Prereq courses -->
    <% @profile.supporting_prereqs.each do |course| %>
      <tr class="prereq-course-name">
        <!-- Course name -->
        <td class="prereq-course-name"><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), profile_course_url(:profile_id => @profile, :id => course) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
