<h1><%=h @profile.name(I18n.locale) %></h1>


<p>
  <%= link_to_remote 'Add to my plan', {:url => plan_profiles_path(:profile_id => @profile.id)}, {:method => :post} %>
</p>

<% @semesters.each_with_index do |semester,index| %>
  <ul>
    <% semester.each do |course| %>
      <% next unless course %>
      <li><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), course_path(:id => course) %></li>
    <% end %>
  </ul>
  <hr />
<% end %>



<h2><%=t :profile_skills %></h2>

<table class="course-graph">
  <thead>
    <td>Requirements</td>
    <td>Provides</td>
  </thead>

  <tbody>
    <tr>
      <td id="skill-prereqs"></td>
      <td>
        <% @profile.skills.each do |skill| %>
          <p>
            <%= link_to_remote h(skill.description(I18n.locale)), :update => 'skill-prereqs', :url => prereqs_skill_url(:id => skill) %>
          </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>




<h2><%=t :profile_strict_prereqs %></h2>

<table class="profile-prereq-matrix">
  <tbody>
    <!-- Prereq courses -->
    <% @profile.strict_prereqs.each do |course| %>
      <tr class="prereq-course-name">
        <!-- Course name -->
        <td class="prereq-course-name"><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), profile_course_url(:profile_id => @profile, :id => course) %></td>
      </tr>
    <% end %>

  </tbody>
</table>


<h2><%=t :profile_supporting_prereqs %></h2>

<table class="profile-prereq-matrix">
  <tbody>
    <!-- Prereq courses -->
    <% @profile.supporting_prereqs.each do |course| %>
      <tr class="prereq-course-name">
        <!-- Course name -->
        <td class="prereq-course-name"><%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), profile_course_url(:profile_id => @profile, :id => course) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
