<%= content_for(:title) do %><%=t('.title')%><% end %>

<% if defined?(SHIB_PATH) %>
  <div class="sessions-login-method shibboleth-login">
    <p class="hint"><%=t('.shibboleth_hint')%></p>

    <%= link_to t('.shibboleth_button'), SHIB_PATH + shibboleth_session_url(:protocol => 'https'), :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>

<p class="hint"><%=t '.traditional_hint' %></p>

<div class="sessions-login-method traditional-login">
  <%= form_for @user_session, :as => :user_session, :url => login_path, 
    :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :studentnumber, t('.studentnumber_label'), 
        :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :studentnumber, :size => 12, :autofocus => true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, t('.password_label'), :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :size => 12 %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.label :remember_me, :class => "checkbox" do %>
          <%= f.check_box :remember_me %> 
          <%= t('.remember_label') %>
        <% end %>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <%= f.submit t('.button'), :class => 'btn' %>
      </div>
    </div>
        
  <% end %>
</div>

<!--p><%= link_to t('.register'), new_user_path %></p-->
