<!-- ko with: hintModelView -->
  <div id='help-alert' class="alert alert-info <%= "hide" if @hide_help %>" data-bind="css: { hide: !shown() }">
    <button type="button" class="close" data-bind="click: hideHint">&times;</button>
    <%= t '.help_text' %>
  </div>
<!-- /ko -->

<div class="row-fluid full-height">

  <%= render 'curriculums/courses/skill_editor/current_course_column' %>

  <% content_for :searchable_column_heading do %>
    <%= t 'curriculums.courses.skill_editor.searchable_column.as_a_prereq_column_heading' %>
  <% end %>

  <%= render 'curriculums/courses/skill_editor/searchable_column' %>

</div>

<p><%= link_to t(:Back), edit_curriculum_path(@curriculum) %></p>

<%= render 'curriculums/courses/skill_editor/modals' %>