<div class="row-fluid full-height">

  <%= render 'curriculums/courses/skill_editor/current_course_column' %>

  <% content_for :searchable_column_heading do %>
    <%= t 'curriculums.courses.skill_editor.searchable_column.as_a_prereq_column_heading' %>
  <% end %>

  <%= render 'curriculums/courses/skill_editor/searchable_column' %>

</div>

<!--p><%= link_to t(:Back), edit_curriculum_path(@curriculum) %></p-->

<%= render 'curriculums/courses/skill_editor/modals' %>