<%# Make sure local variable has default value so that the partial can be rendered
    without explicitly providing the variable. %>
<% skills_sortable = false if not local_assigns.has_key? :skills_sortable %>

<div class="course" 
  data-bind="popover: { 
              trigger: skillErrorOccurred,
              options: { 
                trigger: 'manual',
                html: true,
                template: O4.skillEditor.errorPopoverTemplate, 
                title: '<%= t "curriculums.courses.skill_editor.prereq_change_failed_heading" %>', 
                content: '<%= t "curriculums.courses.skill_editor.prereq_change_failed_message" %>'
              } 
            }">
    <p><span data-bind="text: code"></span> <span data-bind="text: localizedName"></span> <span class="pull-right" data-bind="text: localizedType"></span></p>
    <div data-bind="<% if !skills_sortable.nil? && skills_sortable %>
        sortable: { 
          data: skills,
          afterMove: O4.skillEditor.Skill.afterSkillMoved,
          options: { 
            cursor: 'move',
            containment: 'parent',
            distance: 10,
            helper: O4.skillEditor.Skill.createDragHelperElement
          }
        }
      <% else %>
        foreach: skills 
      <% end %>">
      <div class="skill <%= 'draggable-skill' if skills_sortable %>" data-bind="click: clickSelectTarget,
        css: {
          selected: selected(),
          supporting: prereqType() === 0,
          strict: prereqType() === 1,
          loading: isLoading() || isBeingDeleted()
        }">
        <div class="buttons" data-bind="visible: $parent.prereqButtonsShown">
          <span data-bind="click: clickToggleSupportingPrereq, clickBubble: false" class="supportingPrereqButton"><%= t('curriculums.courses.skill_editor.supportingPrereqButton') %></span>
          <span data-bind="click: clickToggleStrictPrereq, clickBubble: false" class="strictPrereqButton"><%= t('curriculums.courses.skill_editor.strictPrereqButton') %></span>
        </div>
        <div class="buttons" data-bind="visible: $parent.editButtonsShown">
          <i class="icon-pencil" data-bind="click: clickEdit" title="<%=t '.edit_skill' %>"></i>
          <i class="icon-trash" data-bind="click: clickDelete, clickBubble: false" title="<%=t '.remove_skill' %>"></i>
        </div>
         <span class="skill-description" 
              data-bind="text: isLoading() ? '<%= t :saving %>' : localizedDescription"></span>
      </div>
    </div>
    

    <p data-bind="visible: editButtonsShown, with: $root">
      <button class="btn btn-mini" data-bind="click: $root.clickAddSkill"><i class="icon-plus"></i> <%= t 'curriculums.courses.skill_editor.add_skill' %></button>
    </p>
</div>