  <!-- Outcomes -->
  <div class="span6">
    <h2><%=t '.outcomes_heading' %></h2>

    <!-- Target node loading error alert box -->
    <div class="row-fluid hide" data-bind="css: { hide: targetNodeLoadFailed() === false }">
      <div class="alert alert-error span11">
        <strong><%= t 'curriculums.courses.skill_editor.load_failed_heading' %></strong> <%= t '.node_load_failure_message' %>
      </div>
    </div>

    <!-- Error alert box for deletion/edit-errors -->
    <div class="row-fluid hide" 
      data-bind="css: { hide: skillErrorViewModel.shown() === false }, 
        with: skillErrorViewModel">
      <div class="alert alert-error span11">
        <button type="button" class="close" data-bind="click: clickClose">&times;</button>
        <strong data-bind="text: heading"></strong> <span data-bind="text: message"></span>
      </div>
    </div>
    
    <!-- loading icon -->
    <div class="skill-editor-loading-icon" data-bind="css: { hide: targetNodeIsLoading() === false }">
      <%= image_tag 'progress.gif' %>
    </div>

    <div id="target-node" class="hidden"
      data-node-id="<%= @competence_node.id %>" 
      data-url="<%= @competence_node_url %>"></div>

    <!-- ko with: node -->
    <%= render :partial => 'curriculums/courses/skill_editor/competence_node', 
               :locals => { :skills_sortable => true } %>
    <!-- /ko -->
    
  </div>