<h1><%= @course.course_code %> <%= @course.name(I18n.locale) %></h1>

<%= render :partial => 'courses/skills' %>

<%= render :partial => 'courses/prereqs_short' %>

<%= render :partial => 'courses/prereq_to' %>