<div id="thenavbar" class="navbar<%= fixed_nav ? ' navbar-fixed-top' : '' %>">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="<%= frontpage_path %>">
        <div>
          <span>O<sub>4</sub></span>
          <span class="program-name"><%= t('.program_name') %></span>
        </div>
      </a>

      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <% if logged_in? %>
            <% if params[:ref_curriculum] %>
              <% if params[:ref_competence] %>
                <%= nav_link_to t('.curriculums'), curriculum_competence_path(curriculum_id: params[:ref_curriculum], id: params[:ref_competence]) %>
              <% else %>
                <%= nav_link_to t('.curriculums'), curriculum_path(id: params[:ref_curriculum]) %>
              <% end %>
            <% else %>
              <%= nav_link_to t('.curriculums'), frontpage_path %>
            <% end %>

            <% if @competence %>
              <%= nav_link_to t('.courses'), studyplan_courses_path(ref_curriculum: @competence.curriculum_id, ref_competence: @competence) %>
              <%= nav_link_to t('.schedule'), studyplan_schedule_path(ref_curriculum: @competence.curriculum_id, ref_competence: @competence) %>
            <% elsif @curriculum %>
              <%= nav_link_to t('.courses'), studyplan_courses_path(ref_curriculum: @curriculum.id, ref_competence: params[:ref_competence]) %>
              <%= nav_link_to t('.schedule'), studyplan_schedule_path(ref_curriculum: @curriculum.id, ref_competence: params[:ref_competence]) %>
            <% else %>
              <%= nav_link_to t('.courses'), studyplan_courses_path(ref_curriculum: params[:ref_curriculum], ref_competence: params[:ref_competence]) %>
              <%= nav_link_to t('.schedule'), studyplan_schedule_path(ref_curriculum: params[:ref_curriculum], ref_competence: params[:ref_competence]) %>
            <% end %>
          <% end %>
        </ul>

        <ul class="nav pull-right">
          <% if logged_in? %>
            <li>
              <%= link_to 'FI', url_for(:locale => 'fi'), :class => 'lang-link' %>
              <%= link_to 'EN', url_for(:locale => 'en'), :class => 'lang-link' %>
            </li>
            <li class="divider-vertical"></li>
          <% end %>

          <% if logged_in? %>
            <li>
              <p class="navbar-text">
                <i class="icon-user"></i>
                <%= current_user.name %>
              </p>
            </li>
            <!--li>< link_to 'My preferences', preferences_path ></li-->
            <li>
              <%= link_to t('.logout'), logout_path %>
            </li>
          <% else %>
            <li>
              <%= link_to t('.login'), login_url %>
            </li>
          <% end %>

        </ul>

      </div>

    </div>
  </div>
</div>


<% if fixed_nav %>
  <div id="thefixednavpush">
  </div>
<% end %>
