<h2><%= t :competence_skills_heading %></h2>

<p><%= link_to t(:competence_create_new_outcome), 
        new_skill_path(:competence_id => @competence.id),
        :remote => true, :class => "button-base",
        :id => "new-skill-button" %>
</p>

<div id="metadata" style="display: none" 
  data-skill-prereq-edit-url="<%= edit_skill_prereqs_curriculum_competence_path params[:locale], params[:curriculum_id], params[:id] %>"
  data-skill-box-error-message="<%= t :competence_create_outcome_error_failed_to_load_skill_box %>"
  data-new-skill-save-failed-message="<%= t :competence_create_outcome_save_failed %>">
</div>

<div id="new-skill-box-loading-icon" class="hide">
  <div class="center-container">
    <%= image_tag "progress.gif" %>
    <span id="new-skill-box-saving-message" class="hide">Tallennetaan</span>
  </div>
</div>

<div id="new-skill-box-error-message" class="hide">
  <div class="error-info">
    <div class="error-image">
      <%= image_tag "glyphicons_078_warning_sign_white.png" %>
    </div> 
    <strong><%= t :competence_create_outcome_error_heading %></strong>
    <div class="error-contents">
    </div>
  </div>
</div>

<div id="new-skill-box" class="new-skill-box hide">
  <a class="new-skill-close" href="#">&times;</a>
  <div class="new-skill-box-header">
    <h4><%= t :competence_create_outcome_heading %></h4>
    <p><%= t :competence_create_outcome_help_text %></p>
  </div>
  <div id="new-skill-box-content"></div>
  <div class="new-skill-box-footer">
    <a class="button-base cancel-button"><%= t :Cancel %></a>
    <a class="button-base save-button"><%= t :Save %></a>
  </div>
</div>


<ul id="skills">
  <% @competence.skills.each do |skill| %>
    <%= render :partial => "skills/skill", :object => skill %>
  <% end %>
</ul>
