<%= form_for [@curriculum, @competence] do |f| %>
  <%= f.hidden_field :curriculum_id %>

  <%= f.fields_for :competence_descriptions do |cf| %>
    <%= cf.hidden_field :locale %>
    <%= cf.hidden_field :term_id %>
    <div class="form-control-group">
      <%= cf.label t(".competence_name_in_" + cf.object.locale), :class => "form-label" %>
      <div class="form-controls">
        <%= cf.text_field :name, :class => 'field-lengthy' %>
      </div>
    </div>
    <div class="form-control-group">
      <%= cf.label t(".competence_description_in_" + cf.object.locale), :class => "form-label" %>
      <div class="form-controls">
        <%= cf.text_area :description, :rows => 5, :class => 'span6' %>
      </div>
    </div>
  <% end %>
  
  <% if @curriculum.has_admin?(current_user) %>
    <div class="form-control-group">
      <%= f.label t('.locked'), :class => "form-label" %>
      <div class="form-controls">
        <%= f.check_box :locked %>
      </div>
    </div>
  <% end %>
  
  <div class="form-control-group">
    <div class="form-controls">
      <%= link_to t(:Cancel), edit_curriculum_path(@curriculum), :class => 'btn' %>
      <%= f.submit t(:Save), :class => 'btn btn-primary' %>
    </div>
  </div>
  
<% end %> 
