<table class="search-results">
  <% @courses.each do |course| %>
    <% @course = course %>
    <tr id="search-course-id-<%= course.id %>" class="skill-search-result">
      <th class="skill-course-detail" colspan="2">
        <span class="skill-search-course-code">
          <%= @course.code %>
        </span>
        <span class="skill-search-course-name">
          <%= @course.course_description_with_locale.name %>
        </span>
      </th>
    </tr>

    <% @course.skill_descriptions_with_locale.each do |skill_desc| %>
      <tr id="search-skill-id-<%= skill_desc.skill_id %>" data-for-course="<%= course.id %>">
        <td><%= skill_desc.description %></td> 
        <td class="skill-search-button-cell">
          <button class="button-base button-small skill-add-prereq-button" 
            data-skill-id="<%= skill_desc.skill_id %>"
            data-button-type="add-remove-prereq">
          <%= t :competence_skill_add_prereq_button %>
          </button>
        </td>
      </tr>
    <% end %>
  <% end %>  
</table>
