<% content_for :title do %><%= @competence.localized_description.name %> - <%=t '.title' %><% end %>

<%= render :partial => 'tabs' %>

<%= render :partial => 'form' %>

<p><%= link_to t(:Back), edit_curriculum_path(@curriculum) %></p>
