<% content_for :javascript do %>
  <%= javascript_include_tag 'competencesEdit.js' %>
<% end %>

<h1><%= t :competence_edit_heading %></h1>

<h2><%= t :competence_skills_heading %></h2>

<div id="dynamic-content-box">
  <%= render :partial => "competence_list" %>
</div>

<% if false %>
<h2>Matrix</h2>
<%= form_tag matrix_curriculum_competence_path(@curriculum.id, @competence.id) do %>
  <table class="skill-matrix-editor">
    <thead>
      <tr>
        <td></td>
        <% @competence.skills.each do |skill| %>
          <td><%= skill.description(I18n.locale) %></td>
        <% end %>
      </tr>
    </thead>

    <% @courses.each do |course| %>
      <tr class="course">
        <td><%= course.code %> <%= course.name(I18n.locale) %></td>
        <td colspan="<%= @n_skills %>"></td>
      </tr>
      
      <% course.skills.each do |prereq| %>
        <tr>
          <td class="skill"><%= prereq.description(I18n.locale) %></td>
          <%
          @competence.skills.each do |skill|
            requirement = nil
            if @prereqs[prereq.id] && @prereqs[prereq.id][skill.id]
              requirement = @prereqs[prereq.id][skill.id].requirement
              #logger.debug "@prereqs[#{prereq.id}][#{skill.id}] = #{requirement}"
            end
            %>
            <td>
              <%= check_box_tag "prereqs[#{prereq.id}][#{skill.id}]", requirement == STRICT_PREREQ %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  
  <p><%= submit_tag t(:Save) %></p>
<% end %>

<% end %>
