<% content_for :javascript do %>
  <script type="text/javascript">
    <%= render "curriculums/courses/skill_editor_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag 'curriculums/skillEditor' %>
<% end %>

<h1><%= @competence.localized_description.name %></h1>

<ul class="nav nav-tabs">
  <li><%= link_to t('curriculums.competences.edit_tab'), edit_curriculum_competence_path(:curriculum_id => @curriculum, :id => @competence) %></li>
  <li class="active"><%= link_to t('curriculums.competences.prereqs_tab'), edit_prereqs_curriculum_competence_path(:curriculum_id => @curriculum, :id => @competence) %></li>
</ul>

<%= render 'curriculums/courses/skill_editor' %>
