<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'views/curriculums/edit_prereqs' %>
<% end %>

<% content_for :title do %>
  <%= @competence.localized_name + ' - ' + t('.title') %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    <%= render "curriculums/courses/skill_editor/skill_editor_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag 'views/curriculums/skillEditor_edit_competence_prereqs_init.js' %>
<% end %>


<%= render 'tabs' %>

<!-- ko with: hintViewModel -->
  <div id='help-alert' class="alert alert-info <%= "hide" if @hide_help %>" data-bind="css: { hide: !shown() }">
    <button type="button" class="close" data-bind="click: hideHint">&times;</button>
    <%= t '.help_text' %>
  </div>
<!-- /ko -->

<%= render 'curriculums/courses/skill_editor/prereq_editor' %>
