<h1><%= t '.heading' %></h1>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to t('curriculums.competences.edit_tab'), edit_curriculum_competence_path(:curriculum_id => @curriculum, :id => @competence) %></li>
  <li><%= link_to t('curriculums.competences.prereqs_tab'), edit_prereqs_curriculum_competence_path(:curriculum_id => @curriculum, :id => @competence) %></li>
</ul>

<%= render :partial => 'form' %>

<p><%= link_to t(:Back), edit_curriculum_path(@curriculum) %></p>
