<% content_for :javascripts do %>
  <%= javascript_include_tag 'libs/graph/graphView' %>
  <%= javascript_include_tag 'views/curriculums/courseGraph' %>
<% end %>

<% content_for :title do %>
  <%= @competence.localized_name + ' - ' + t('.title') %>
<% end %>


<%= render :partial => 'tabs' %>

<div id="course-graph" 
    data-courses-path="<%= curriculum_courses_path(:curriculum_id => @curriculum.id) %>" 
    data-competences-path="<%= curriculum_competences_path(:curriculum_id => @curriculum.id) %>" 
    data-skills-path="<%= curriculum_skills_path(:curriculum_id => @curriculum.id) %>"
    data-source-id="<%= @competence.id %>"
    >
    
    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
</div>

<%= render :partial => 'courses/graph_templates' %>
