<!-- curriculums/competences/show -->
<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/curriculums/courseGraph' %>
<% end %>

<h1><%= @competence.localized_name %></h1>

<% if can? :update, @competence %>
  <div class="admin-tools well">
    <ul class="nav nav-list">
      <li class="nav-header"><%= t :admin_toolbox_heading %></li>
      <li><%= link_to t(:competence_edit_link), edit_curriculum_competence_path(:curriculum_id => @curriculum.id, :id => @competence.id) %></li>
    </ul>
  </div>
<% end %>

<% if can? :update, @competence %>
  <p><%= link_to t(:competence_edit_link), edit_curriculum_competence_path(:curriculum_id => @curriculum.id, :id => @competence.id), :class => 'btn' %></p>
<% end %>


<p><%= @competence.localized_description.description %></p>

<h2><%=t :competence_skills_heading %></h2>

<ul>
  <% @competence.skills.each do |skill| %>
    <li><%= skill.localized_description %></li>
  <% end %>
</ul>
<!--td>< link_to t(:contributing_courses_link), curriculum_competence_skill_path(:curriculum_id => @curriculum.id, :competence_id => @competence.id, :id => skill.id) ></td-->


<h2><%=t :competence_courses_heading %></h2>
<ul>
  <% @competence.courses.each do |course| %>
    <li><%= course.course_code %> <%= course.localized_name %></li>
  <% end %>
</ul>

<div id="course-graph" 
    data-courses-path="<%= curriculum_courses_path(:curriculum_id => @curriculum.id) %>" 
    data-competences-path="<%= curriculum_competences_path(:curriculum_id => @curriculum.id) %>" 
    data-skills-path="<%= curriculum_skills_path(:curriculum_id => @curriculum.id) %>"
    data-source-id="<%= @competence.id %>"
    >
    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
</div>

<%= render :partial => 'courses/graph_templates' %>

<% # TODO: plain list of courses %>

<p><%= link_to t(:Back), @curriculum %></p>
