<!-- curriculums/competences/show -->

<h1><%= @competence.profile.name(I18n.locale) %> - <%= @competence.name(I18n.locale) %></h1>

<% if can? :update, @competence %>
  <div class="admin-tools">
    <ul>
      <li><%= link_to t(:competence_edit_link), edit_curriculum_competence_path(:curriculum_id => @curriculum.id, :id => @competence.id) %></li>
    </ul>
  </div>
<% end %>

<p><%= @competence.description(I18n.locale) %></p>


<h2><%=t :competence_skills_heading %></h2>

<table id="skills">
  <% @competence.skills.each do |skill| %>
    <tr>
      <td><%= skill.description(I18n.locale) %></td>
      <td><%= link_to t(:constributing_courses_link), curriculum_competence_skill_path(:curriculum_id => @curriculum.id, :competence_id => @competence.id, :id => skill.id) %></td>
    </tr>
  <% end %>
</table>


<h2><%=t :competence_courses_heading %></h2>
<ul>
  <% @competence.courses.each do |course| %>
    <li><%= course.code %> <%= course.name(I18n.locale) %></li>
  <% end %>
</ul>

<!--p><%= link_to t(:constributing_courses_link), contributors_curriculum_competence_path %></p-->
