<h1><%=t '.heading' %></h1>

<p class="hint"><%=t '.hint' %></p>

<% unless @invitations.empty? %>
  <h2><%=t '.existing_invitations' %></h2>

  <ul>
    <% @invitations.each do |invitation| %>
      <li><%= invitation.email %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag curriculum_roles_path do %>
  <p>
    <%=t '.recipients' %><br />
    <%= text_area_tag :addresses, @addresses, :rows => 10, :class => 'input-xxlarge'  %>
  </p>

  <p>
    <%=t '.subject' %><br />
    <%= text_field_tag :subject, @subject, :class => 'input-xxlarge' %>
  </p>
  
  <p>
    <%=t '.content' %><br />
    <%= text_area_tag :content, @content, :rows => 20, :class => 'input-xxlarge' %>
  </p>
  
  <button type="submit" class="btn btn-primary"><%= t('.send') %></button>
<% end %>

<p><%= link_to t(:Back), @curriculum %></p>
