<h1><%=t :profile_delete_heading, :name => @profile.name(I18n.locale) %></h1>

<!--p><%=t :profile_delete_autodelete_courses %></p-->

<ul>
  <% @courses.each do |course| %>
    <li><%= course.code %> <%= course.name(I18n.locale) %></li>
  <% end %>
</ul>

<%= form_tag studyplan_profile_path, :method => :delete do %>

  <p><%= submit_tag t(:Ok) %></p>
  
  <p><%= link_to t(:Cancel), studyplan_profiles_path %></p>
<% end %>