<h1><%=t :profiles_heading %></h1>

<p><%=t :profile_index_instructions %></p>

<table class="competence-selector">
  <% @profiles.each do |profile| %>
    <tr class="profile">
      <td class="profile-name"><%= link_to h(profile.name(I18n.locale)), studyplan_profile_url(:id => profile.id) %></td>
      <td class="profile-description"><%= profile.description(I18n.locale) %></td>
      <td class="profile-credits"></td>
    </tr>
  
    <% profile.competences.each do |competence| %>
      <tr class="competence">
      
      
        <td class="competence-name">
          <span <%= @user.has_competence?(competence) ? "class='selected-competence-name'" : '' %>>
            <%= competence.name(I18n.locale) %>
          </span>
        
        </td>
        <td class="competence-description"><%= competence.description(I18n.locale) %></td>
        <td class="competence-credits"><%= competence.credits %> <%=t :cr %></td>
      </tr>
    <% end %>
    
    <tr class="spacer">
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>


<!-- link_to image_tag('add.png', :alt => t(:profile_add_to_plan)), new_studyplan_profile_path(:id => profile.id), :title => t(:profe_add_to_plan) -->