<% content_for :javascript do %>
  <%= javascript_include_tag 'profileCourseView' %>
<% end %>

<h1>
  <%= @profile.name(I18n.locale) %>
</h1>

<p><%=t :profile_show_instructions %></p>

<!-- Description -->
<p><%= @profile.description(I18n.locale) %></p>

<!-- Competences -->
<% @profile.competences.each do |competence| %>
  <div class="competence<%= @user.has_competence?(competence) ? ' selected' : '' %>">
    <div class="buttons">
      <h2><%= competence.name(I18n.locale) %></h2>
      
      <!-- Add / Remove -->
      <% if can? :choose, competence %>
        <% if @user.has_competence? competence %>
          <%= link_to image_tag('remove.png', :alt => t(:profile_remove_from_plan)), delete_studyplan_competence_path(:id => competence.id), :title => t(:profile_remove_from_plan) %>
        <% else %>
          <%= link_to image_tag('add.png', :alt => t(:profile_add_to_plan)), new_studyplan_competence_path(:id => competence.id), :title => t(:profile_add_to_plan) %>
        <% end %>
      <% end %>
    </div>
    
    <p><%= competence.description(I18n.locale) %><p>

    <div class="competence-skills">
      <h3><%=t :profile_skills %></h3>
      <ul>
        <% competence.skills.each do |skill| %>
          <li><%= skill.description(I18n.locale) %></li>
        <% end %>
      </ul>
    </div>
    
    <div class="competence-courses">
      <h3><%=t :profile_strict_prereqs %></h3>
      
      <table class="course-list">
        <% credits_counter = passed_counter = 0 %>
        <% competence.courses_cumulative.each do |course| %>
          <tr>
            <td><%= link_to course.code, studyplan_competence_course_path(:competence_id => competence.id, :id => course) %></td>
            <td><%= link_to course.name(I18n.locale), studyplan_competence_course_path(:competence_id => competence.id, :id => course) %></td>
            <td><%= course.credits %></td>
            <% credits_counter += course.credits || 0 %>
            <% passed_counter += course.credits if @user.passed?(course) %><!-- TODO: make this more efficient -->
          </tr>
        <% end %>
        <tfoot>
          <tr class="total">
            <td></td>
            <td></td>
            <td><%= credits_counter %> <%=t :cr %></td>
          </tr>
          <tr>
            <td></td>
            <td><%=t :competence_credits_shared %></td>
            <td>0 <%=t :cr %></td><!-- TODO -->
          </tr>
          <tr>
            <td></td>
            <td><%=t :competence_credits_passed %></td>
            <td><%= passed_counter %> <%=t :cr %></td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div class="clear"></div>
    
    <% if @user.has_competence?(competence) %>
      <%= link_to t(:competence_supporting_courses_link), supporting_studyplan_competence_path(:id => competence.id) %>
    <% end %>
  </div>
<% end %>

    
    
<!--p>
TODO: opintopisteet (yht.)<br />
olet jo suorittanut n opintopistettä
</p-->

<!-- 
<h2><%=t :example_schedule %></h2>
<p>TODO</p>
-->
