<h1>Listing temp_courses</h1>

<table>
  <tr>
    <th>Curriculum</th>
    <th>Code</th>
    <th>Credits</th>
    <th>Name fi</th>
    <th>Name en</th>
    <th>Name sv</th>
    <th>Department</th>
    <th>Language</th>
    <th>Instructors</th>
    <th>Grading</th>
    <th>Graduate</th>
    <th>Changing</th>
    <th>Alternatives</th>
    <th>Period</th>
    <th>Prerequisites</th>
    <th>Content</th>
    <th>Assignments</th>
    <th>Grading details</th>
    <th>Materials</th>
    <th>Replaces</th>
    <th>Other</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @temp_courses.each do |temp_course| %>
  <tr>
    <td><%= temp_course.curriculum %></td>
    <td><%= temp_course.code %></td>
    <td><%= temp_course.credits %></td>
    <td><%= temp_course.name_fi %></td>
    <td><%= temp_course.name_en %></td>
    <td><%= temp_course.name_sv %></td>
    <td><%= temp_course.department %></td>
    <td><%= temp_course.language %></td>
    <td><%= temp_course.instructors %></td>
    <td><%= temp_course.grading %></td>
    <td><%= temp_course.graduate %></td>
    <td><%= temp_course.changing %></td>
    <td><%= temp_course.alternatives %></td>
    <td><%= temp_course.period %></td>
    <td><%= temp_course.prerequisites %></td>
    <td><%= temp_course.content %></td>
    <td><%= temp_course.assignments %></td>
    <td><%= temp_course.grading_details %></td>
    <td><%= temp_course.materials %></td>
    <td><%= temp_course.replaces %></td>
    <td><%= temp_course.other %></td>
    <td><%= link_to 'Show', temp_course %></td>
    <td><%= link_to 'Edit', edit_temp_course_path(temp_course) %></td>
    <td><%= link_to 'Destroy', temp_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Temp course', new_temp_course_path %>
