<p id="notice"><%= notice %></p>

<p>
  <b>Curriculum:</b>
  <%= @temp_course.curriculum %>
</p>

<p>
  <b>Code:</b>
  <%= @temp_course.code %>
</p>

<p>
  <b>Credits:</b>
  <%= @temp_course.credits %>
</p>

<p>
  <b>Name fi:</b>
  <%= @temp_course.name_fi %>
</p>

<p>
  <b>Name en:</b>
  <%= @temp_course.name_en %>
</p>

<p>
  <b>Name sv:</b>
  <%= @temp_course.name_sv %>
</p>

<p>
  <b>Department:</b>
  <%= @temp_course.department %>
</p>

<p>
  <b>Language:</b>
  <%= @temp_course.language %>
</p>

<p>
  <b>Instructors:</b>
  <%= @temp_course.instructors %>
</p>

<p>
  <b>Grading:</b>
  <%= @temp_course.grading %>
</p>

<p>
  <b>Graduate:</b>
  <%= @temp_course.graduate %>
</p>

<p>
  <b>Changing:</b>
  <%= @temp_course.changing %>
</p>

<p>
  <b>Alternatives:</b>
  <%= @temp_course.alternatives %>
</p>

<p>
  <b>Period:</b>
  <%= @temp_course.period %>
</p>

<p>
  <b>Prerequisites:</b>
  <%= @temp_course.prerequisites %>
</p>

<p>
  <b>Content:</b>
  <%= @temp_course.content %>
</p>

<p>
  <b>Assignments:</b>
  <%= @temp_course.assignments %>
</p>

<p>
  <b>Grading details:</b>
  <%= @temp_course.grading_details %>
</p>

<p>
  <b>Materials:</b>
  <%= @temp_course.materials %>
</p>

<p>
  <b>Replaces:</b>
  <%= @temp_course.replaces %>
</p>

<p>
  <b>Other:</b>
  <%= @temp_course.other %>
</p>


<%= link_to 'Edit', edit_temp_course_path(@temp_course) %> |
<%= link_to 'Back', temp_courses_path %>
