<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% if content_for?(:title) -%>
      <%=  yield(:title) %> -
    <% elsif @scoped_course && @scoped_course.localized_description %>
      <%= @scoped_course.localized_name %> -
    <% elsif @competence && @competence.localized_description %>
      <%= @competence.localized_name %> -
    <% elsif @curriculum %>
      <%= @curriculum.name %> -
    <% end -%>
    O4
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'core/print', :media => 'print' %>
  <%= yield(:corestylesheets) -%>
  <%= yield(:stylesheets) -%>
  <%= yield(:head) -%>
  <%= render :partial => 'shared/analytics' if Rails.env.production? -%>
</head>
