<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "views/plans/schedule/show", :media => 'all' %>
<% end %>

<% content_for(:javascripts) do %>
  <script type="text/javascript">
    <%= render "show_i18n_strings.js" %>
  </script>
  <%= javascript_tag do %>
    window.user_treatment = <%= @user.treatment || '0' %>;
    window.schedule_data = <%= @study_plan.json_schedule.to_json( root: false ).html_safe %>;
  <% end %>
  
  <%= javascript_include_tag 'views/plans/schedule/show' %>
<% end %>

<% content_for(:leftnav) do %>
  <div id="controls">
    <button id="save-button" class="btn pull-right" data-bind="click: save"><%= t('.save') %></button><% #css: { 'btn-danger': anyUnsavedChanges() }
    -%>
    <h2><%= t('.scheduling') %></h2>
    <!--p>
      <%= t('.curriculum') %>:
      <%= @study_plan.curriculum.name %>
      <%= @study_plan.curriculum.start_year %> -
      <%= @study_plan.curriculum.end_year %>
    </p-->
  </div>
  <div class="clearfix"></div>
  <p data-bind="text: statusMessage, css: statusStyle"></p>

  <!-- Selected course details -->
  <!-- ko if: selectedObjectType() == 'Course' -->
    <div class="object-info well" data-bind="with: selectedObject">
      <h3>
        <span data-bind="text: code"></span>
        <span data-bind="text: name"></span>
        (<span data-bind="text: length_string"></span> <%=t :cr %>)
      </h3>
      
      <table>
        <tbody>
          <tr id="length">
            <td>
              <label for="length-input">
                <%= t('Length') %>:
              </label>
            </td>
            <td>
              <input id="length-input" class="input-mini" type="number" data-bind="value: length, valueUpdate: 'keyup'" />
              <%= t('.periods') %>
            </td>
          </tr>

          <tr id="credits">
            <td>
              <label for="credits-input">
                <%= t('Extent') %>:
              </label>
            </td>
            <td>
              <input id="credits-input" class="input-mini" type="number" data-bind="value: credits, valueUpdate: 'keyup'" />
              <%= t('cr') %>
            </td>
          </tr>
      
          <tr id="grade" data-toggle="tooltip" title="<%= t('.grade_tooltip') %>">
            <td>
              <label for="grade-input">
                <%= t('Grade') %>:
              </label>
            </td>
            <td>
              <input id="grade-input" class="input-mini" type="number" data-bind="value: grade, valueUpdate: 'keyup'" />
            </td>
          </tr>
          <!-- ko if: periodInfo -->
            <tr id="period_info">
              <td>
                <%= t('.period_info') %>:
              </td>
              <td>
                <span data-bind="text: periodInfo"></span>
              </td>
            </tr>
          <!-- /ko -->
        </tbody>
      </table>
      

      <h4><%= t('.prereqs') %></h4>
      <!-- ko if: hasPrereqs() -->
        <ul data-bind="foreach: getPrereqs()">
          <li>
            <span data-bind="text: code"></span>
            <span data-bind="text: name"></span>
          </li>
        </ul>
      <!-- /ko -->
      <!-- ko if: (allPrereqsInPlan && (!hasPrereqs())) -->
        <p><%= t('.no_prereqs') %></p>
      <!-- /ko -->
      <!-- ko ifnot: allPrereqsInPlan -->
        <p class="text-error" data-bind="ifnot: allPrereqsInPlan">
          <%= t('.not_all_prereqs_in_plan') %>
        </p>
      <!-- /ko -->

      <h4><%= t('.postreqs') %></h4>
      <!-- ko if: hasPostreqs() -->
        <ul data-bind="foreach: getPostreqs()">
          <li>
            <span data-bind="text: code"></span>
            <span data-bind="text: name"></span>
          </li>
        </ul>
      <!-- /ko -->
      <!-- ko if: !hasPostreqs() -->
        <p><%= t('.no_postreqs') %></p>
      <!-- /ko -->

    </div>  <!-- object-info -->
  <!-- /ko -->

  <!-- Selected period details -->
  <!-- ko if: selectedObjectType() == 'Period' -->
    <div class="object-info well" data-bind="with: selectedObject">
      <h3>
        <%= t('.selected_period') %>:
        <span data-bind="text: name"></span>
      </h3>

      <p class="muted">
        <span data-bind="text: beginsAt"></span> - <span data-bind="text: endsAt"></span>
      </p>

      <div class="period-courses">
        <h4><%= t('.scheduled_courses') %></h4>

        <!-- ko if: affectingCourses.length == 0 -->
          <p><%= t('.no_scheduled_courses') %></p>
        <!-- /ko -->
        <!-- ko if: affectingCourses.length > 0 -->
        <table class="table table-condensed">
          <thead>
            <th>
              <%= t('Code') %>
            </th>
            <th>
              <%= t('Name') %>
            </th>
            <th>
              <%= t('Extent') %>
            </th>
<!--
            <th>
              <%= t('Length') %>
            </th>
            <th>
              <%= t('Grade') %>
            </th>
-->
          </thead>
          <tbody data-bind="foreach: affectingCourses">
            <tr data-bind="css: {'old': period.isSelected() == false}">
              <td data-bind="text: code">
              </td>
              <td data-bind="text: name">
              </td>
              <td data-bind="text: credits">
              </td>
<!--
              <td data-bind="text: length">
              </td>
              <td data-bind="text: grade">
              </td>
-->
            </tr>
          </tbody>
          <tr title="<%=t '.credits_per_period_hint' %>">
            <td colspan="2">
              <%=t '.credits_per_period' %>:
            </td>
            <td>
              <span data-bind="numeric: credits, decimals: 1"></span>
              <%= t('cr') %>
            </td>
          </tr>
        </table>
        <!-- /ko -->
      </div>
    </div>  <!-- object-info -->
  <!-- /ko -->

  <!-- Competence details -->
  <!-- ko if: selectedObjectType() == undefined || selectedObjectType() == 'Competence' -->
    <div class="object-info well">

      <h3>
        <%= t('.competences') %>
      </h3>

      <!-- ko if: competences.length == 0 -->
        <p><%= t('.no_chosen_competences') %></p>
      <!-- /ko -->
      <!-- ko if: competences.length > 0 -->
        <ul data-bind="foreach: competences">
          <li class="competencex">
            <div data-bind="css: {'selected': isSelected}">
              <span data-bind="text: name"></span>
            </div>
            <div class="progress progress-striped" title="<%= t('.competence_progress_tooltip') %>">
              <div class="bar" data-bind="style: {width: progressWidth()}"></div>
            </div>
          </li>
        </ul>
      <!-- /ko -->

    </div>  <!-- object-info -->
  <!-- /ko -->

<% end %>


<div class="loader"></div>

<% if @study_plan.scoped_courses.empty? && @study_plan.competences.empty? %>
  <div class="alert">
    <%= link_to t('.empty_instructions'), studyplan_competences_path %>
  </div>
<% end %>

<p id="status"></p>

<div id="plan-container" data-studyplan-path="<%= plan_path(@study_plan.id) %>">

  <div id="svg"></div>

  <!-- ko foreach: periods -->
    <div class="period" data-bind="
        droppable: droppedCourse,
        position: position,
        css: { 'selected': isSelected,
               'receiver': isReceiver,
               'old': isOld,
               'now': isNow,
               'summer': isSummer }"
    >
      <div class="name" data-bind="text: name"></div>
      <div class="credits"><span data-bind="numeric: credits, decimals: 0, css: creditsStatus"></span> <%= t('cr') %></div>
    </div>
  <!-- /ko -->

  <!-- ko foreach: courses -->
    <div class="course" data-toggle="tooltip" data-bind="draggable: {}, position: position, attr: {title: tooltip}, css: {'selected': isSelected, 'passed': grade() > 0, 'instanced': isInstanceBound, 'customized': isCustomized, 'prereq-of': hilightPrereq, 'prereq-to': hilightPrereqTo, 'misordered': isMisordered, 'misscheduled': isMisscheduled}">
      <!-- <div class="arrow prereq-arrow">&#x2b07;</div> -->
      <span data-bind="text: code"></span>
      <span data-bind="text: name"></span>
    </div>
  <!-- /ko -->

</div>
