<% content_for :javascript do %>
  <%= javascript_include_tag 'schedule/schedule' %>
  <script type="text/javascript">
    <%= render "metadata.js" %>
  </script>
<% end %>


<%# Left-side floating settings panel %>
<div id="schedule-controls-container" class="leftNavi schedule-controls">
  <h2><%= t :schedule_controls %></h2>
  <div class="control-block">
    <h3><%= t :schedule_preferences %></h3>

    <div class="control-group" id="schedule-automatic-arrangement">
      <label for="schedule-automatic-arrangement-input">
        <%= t :schedule_automatic_arrangement_checkbox %>
      </label>  
      <div class="controls">
        <input id="schedule-automatic-arrangement-input" type="checkbox" /> 
        <%= image_tag("glyphicons_195_circle_info.png", :size => "16x16" ) %>
      </div>
    </div>

    <div class="control-group" id="schedule-draw-req-graphs">
      <label for="schedule-draw-req-graphs-input">
        <%= t :schedule_draw_course_graphs_checkbox %>
      </label>
      <div class="controls">
        <input id="schedule-draw-req-graphs-input" type="checkbox" /> 
        <%= image_tag("glyphicons_195_circle_info.png", :size => "16x16" ) %>
      </div>
    </div>

    <div class="control-group" id="schedule-course-lock">
      <label for="schedule-course-lock-input">
        <%= t :schedule_course_lock_checkbox %>
      </label>
      <div class="controls">
        <input id="schedule-course-lock-input" type="checkbox" disabled="disabled" /> 
        <%= image_tag("glyphicons_195_circle_info.png", :size => "16x16" ) %>
      </div>
    </div>

    <button id="save-button"><%= t :schedule_save_button %></button>
  </div> 

  <div id="course-desc-block" class="control-block hidden">
    <h3><%= t :schedule_controls_selected_course %></h3>
    <p id="course-id">
      <span id="course-code" class="control-course-code"></span>
      <span id="course-name" class="control-course-name"></span>
    </p>
    <p>
    <span id="course-points"></span> <%= t :schedule_credits %>
    </p>

  </div> 

</div>
  
<div class="content">
  <h1><%=t :plan_heading %></h1>

  <% if @user.courses.empty? && @user.competences.empty? %>
    <p><%= link_to t(:plan_empty_instructions), studyplan_profiles_path %></p>
  <% end %>

  <p id="status"></p>


  <div class="plan" id="plan" data-prereqs-path="<%= prereqs_curriculum_path(@curriculum.id) %>"
    data-instances-path="<%= course_instances_path %>" 
    schedule-path="<%= studyplan_schedule_path %>">
    <%# <div id="svg"></div> %>
    <% @periods.each do |period| %>
      <div class="period period-<%= period.number %>" 
        data-id="<%= period.id %>" 
        data-current-period="<%= period == @current_period ? "true" : "false" %>"
        id="period-<%= period.id %>">
          <div class="period-name"><%= period.name(I18n.locale) %></div>
          <div class="period-credits"></div>
      </div>
    <% end %>
    
    
    <% @user_courses.each do |user_course| %>
      <% next unless user_course %>
      
      <div class="course" id="course-<%= user_course.scoped_course.code %>" 
        data-id="<%= user_course.id %>"
        data-code="<%= user_course.scoped_course.code %>" 
        data-name="<%= user_course.scoped_course.abstract_course.course_descriptions_with_locale[0].name %>"
        data-credits="<%= user_course.scoped_course.credits || '0' %>" 
        data-passed="<%= user_course.passed? ? 'true' : 'false' %>" 
        data-period="<%= user_course.course_instance_id ? user_course.course_instance.period_id : '' %>" ><%= user_course.scoped_course.code + ' ' + user_course.scoped_course.name(I18n.locale) %></div>
    <% end %>
  </div>

  <table>
    <tr>
      <td>Courses:</td><td><%= @user_courses.size %></td>
    </tr>
  </table>
</div>
