<% content_for :javascript do %>
  <%= javascript_include_tag 'schedule/schedule' %>
  <script type="text/javascript">
    <%= render "metadata.js" %>
  </script>
<% end %>

<% # "Course locked" icon that will be cloned using JS. Do not include id on the element, because that will also be copied!
%>
<div id="cloneable-imgs" class="hide">
  <%= image_tag "glyphicons_203_lock.png", :class => "course-locked" %>
</div>

<div class="row-fluid">
  <div class="span3">
    <div id="schedule-controls-container">
      <h2><%= t('.schedule_controls') %></h2>
      <div class="control-block">
        <h3><%= t('.schedule_preferences') %></h3>

        <div class="control-group" id="schedule-automatic-arrangement">
          <label for="schedule-automatic-arrangement-input">
            <%= t('.schedule_automatic_arrangement_checkbox') %>
          </label>
          <div class="controls">
            <input id="schedule-automatic-arrangement-input" type="checkbox" />
            <%= image_tag("glyphicons_195_circle_info.png", :size => "16x16" ) %>
          </div>
        </div>

        <div class="control-group" id="schedule-draw-req-graphs">
          <label for="schedule-draw-req-graphs-input">
            <%= t('.schedule_draw_course_graphs_checkbox') %>
          </label>
          <div class="controls">
            <input id="schedule-draw-req-graphs-input" type="checkbox" />
            <%= image_tag("glyphicons_195_circle_info.png", :size => "16x16" ) %>
          </div>
        </div>

        <button id="save-button" data-bind="click: save"><%= t('.schedule_save_button') %></button>
      </div>

      <!-- Selected course details -->
      <!-- ko if: selectedCourse -->
        <div id="course-desc-block" class="control-block well" data-bind="with: selectedCourse">
          <h3><%= t('.schedule_controls_selected_course') %></h3>
          <p id="course-id">
            <span data-bind="text: code"></span>
            <span data-bind="text: name"></span>
          </p>

          <table>
            <tr data-toggle="tooltip" title="<%= t('.extent_tooltip') %>">
              <td>
                <label>
                  <%= t('.extent') %>:
                </label>
              </td>
              <td>
                <input class="input-mini" type="number" data-bind="value: credits, valueUpdate: 'keyup'" />
              </td>
            </tr>
            <tr data-toggle="tooltip" title="<%= t('.grade_tooltip') %>">
              <td>
                <label>
                  <%= t('.grade') %>:
                </label>
              </td>
              <td>
                <input class="input-mini" type="number" data-bind="value: grade, valueUpdate: 'keyup'" />
              </td>
            </tr>
          </table>

          <div class="control-group" id="schedule-course-lock">
            <label for="schedule-course-lock-input">
              <%= t('.schedule_course_lock_checkbox') %>
            </label>
            <div class="controls">
              <input id="schedule-course-lock-input" type="checkbox" disabled="true" />
              <%= image_tag("glyphicons_195_circle_info.png", :size => "16x16" ) %>
            </div>
          </div>

          <p>
            <%= t('.course_prereqs') %>
            <span id="course-prereqs"></span>
          </p>
          <h4><%= t :schedule_course_prereqs_title %></h4>
          <p id="course-prereqs-list">

          </p>
        </div>
      <!-- /ko -->
    </div>
  </div>

  <div class="span9">
    <h1><%=t('.heading')%></h1>

    <% if @study_plan.courses.empty? && @study_plan.competences.empty? %>
      <div class="alert">
        <%= link_to t('.empty_instructions'), studyplan_competences_path %>
      </div>
    <% end %>

    <p id="status"></p>

    <div class="plan" id="plan" data-studyplan-path="<%= plan_path(@study_plan.id) %>">

      <div id="svg"></div>

      <!-- ko foreach: periods -->
        <div class="period" data-bind="droppable: droppedCourse, position: position, css: {'receiver': hilight, 'old': isOld, 'now': isNow}">
          <div class="period-name" data-bind="text: name"></div>
          <div class="period-credits"><span data-bind="text: credits"></span> op</div>
        </div>
      <!-- /ko -->

      <!-- ko foreach: courses -->
        <div class="course" data-bind="draggable: {}, position: position, css: {'selected': hilightSelected, 'prereq-of': hilightPrereq, 'prereq-to': hilightPrereqTo, 'orderWarning': orderWarning}">
          <span data-bind="text: code"></span>
          <span data-bind="text: name"></span>
        </div>
      <!-- /ko -->

    </div>
  </div>

</div>
