<% content_for :javascript do %>
  <script type="text/javascript">
    <%= render "show_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag 'schedule/schedule' %>
  <script type="text/javascript">
    <%= render "metadata.js" %>
  </script>
<% end %>

<% # "Course locked" icon that will be cloned using JS. Do not include id on the element, because that will also be copied!
%>
<div id="cloneable-imgs" class="hide">
  <%= image_tag "glyphicons_203_lock.png", :class => "course-locked" %>
</div>


<div class="row-fluid">

  <div class="span2" id="sidebar">

    <div id="controls">

      <h2><%= t('.controls') %></h2>

      <p>
        <%= t('.curriculum') %>:
        <%= @study_plan.curriculum.name %>
        <%= @study_plan.curriculum.start_year %> -
        <%= @study_plan.curriculum.end_year %>
      </p>

      <h3><%= t('.actions') %></h3>

      <button id="save-button" data-bind="click: save"><%= t('.save_button') %></button>

    </div>

    <!-- Selected course details -->
    <!-- ko if: selectedObjectType() == 'Course' -->
      <div class="well" data-bind="with: selectedObject">

        <h3>
          <%= t('.selected_course') %>
        </h3>

        <p>
          <span data-bind="text: code"></span>
          <span data-bind="text: name"></span>
        </p>

        <p id="testhoverme">Testhoverme</p>
        <p id="testblock">Testblock</p>

        <div id="credits" class="row-fluid" data-toggle="tooltip" title="<%= t('.extent_tooltip') %>">
          <div class="span6">
            <label for="credits-input">
              <%= t('.extent') %>:
            </label>
          </div>
          <div class="span6">
            <input id="credits-input" class="input-mini" type="number" data-bind="value: credits, valueUpdate: 'keyup'" />
            <span id="credits-show" data-bind="text: credits"></span>
            <%= t('cr') %>
          </div>
        </div>

        <!-- ko if: period.isOld -->
          <div class="row-fluid" data-toggle="tooltip" title="<%= t('.grade_tooltip') %>">
            <div class="span6">
              <label for="grade-input">
                <%= t('.grade') %>:
              </label>
            </div>
            <div class="span6">
              <input id="grade-input" class="input-mini" type="number" data-bind="value: grade, valueUpdate: 'keyup'" />
            </div>
          </div>
        <!-- /ko -->

        <h4><%= t('.prereqs') %></h4>

        <span data-bind="ifnot: hasPrereqs()"><%= t('.no_prereqs') %></span>

        <!-- ko if: hasPrereqs() -->
          <ul data-bind="foreach: getPrereqs()">
            <li>
              <span data-bind="text: code"></span>
              <span data-bind="text: name"></span>
            </li>
          </ul>
        <!-- /ko -->

      </div>  <!-- well -->
    <!-- /ko -->

    <!-- Selected period details -->
    <!-- ko if: selectedObjectType() == 'Period' -->
      <div class="well" data-bind="with: selectedObject">

        <h3>
          <%= t('.selected_period') %>
        </h3>

        <p>
          <span data-bind="text: name"></span>
        </p>
        <p class="muted">
          <span data-bind="text: beginsAt"></span>
          -
          <span data-bind="text: endsAt"></span>
        </p>

        <h4><%= t('.scheduled_courses') %></h4>

        <!-- ko if: courses().length == 0 -->
          <p><%= t('.no_scheduled_courses') %></p>
        <!-- /ko -->
        <!-- ko if: courses().length > 0 -->
          <ul data-bind="foreach: courses">
            <li>
              <span data-bind="text: code"></span>
              <span data-bind="text: name"></span>
            </li>
          </ul>
        <!-- /ko -->

      </div>  <!-- well -->
    <!-- /ko -->

    <!-- Competence details -->
    <!-- ko if: selectedObjectType() == undefined || selectedObjectType() == 'Competence' -->
      <div class="well">

        <h3>
          <%= t('.competences') %>
        </h3>

        <!-- ko if: competences.length == 0 -->
          <p><%= t('.no_chosen_competences') %></p>
        <!-- /ko -->
        <!-- ko if: competences.length > 0 -->
          <ul data-bind="foreach: competences">
            <li class="competencex">
              <div data-bind="css: {'selected': isSelected}">
                <span data-bind="text: name"></span>
              </div>
              <div class="progress progress-striped" title="<%= t('.competence_progress_tooltip') %>">
                <div class="bar" data-bind="style: {width: progressWidth()}"></div>
              </div>
            </li>
          </ul>
        <!-- /ko -->

      </div>  <!-- well -->
    <!-- /ko -->

  </div>  <!-- span3, sidebar -->


  <div class="span10">

    <h1><%=t('.heading')%></h1>

    <% if @study_plan.courses.empty? && @study_plan.competences.empty? %>
      <div class="alert">
        <%= link_to t('.empty_instructions'), studyplan_competences_path %>
      </div>
    <% end %>

    <p id="status"></p>

    <div class="plan" id="plan" data-studyplan-path="<%= plan_path(@study_plan.id) %>">

      <div id="svg"></div>

      <!-- ko foreach: periods -->
        <div class="period" data-bind="droppable: droppedCourse, position: position, css: {'selected': isSelected, 'receiver': isReceiver, 'old': isOld, 'now': isNow}">
          <div class="name" data-bind="text: name"></div>
          <div class="credits"><span data-toggle="tooltip" data-bind="text: credits, attr: {title: creditsTooltip}, css: creditsStatus"></span> <%= t('cr') %></div>
        </div>
      <!-- /ko -->

      <!-- ko foreach: courses -->
        <div class="course" data-toggle="tooltip" data-bind="draggable: {}, position: position, attr: {title: tooltip}, css: {'selected': isSelected, 'passed': grade() > 0, 'instanced': courseInstance, 'customized': isCustomized, 'prereq-of': hilightPrereq, 'prereq-to': hilightPrereqTo, 'misordered': isMisordered, 'misscheduled': isMisscheduled}">
          <span data-bind="text: code"></span>
          <span data-bind="text: name"></span>
        </div>
      <!-- /ko -->

    </div>

  </div>  <!-- span9 -->

</div>  <!-- row-fluid -->
