<%= form_for @skill, :remote => true do |f| %>
  <%= f.hidden_field :competence_node_id %>
  <%= f.fields_for :skill_descriptions do |cf| %>
    <div class="new-skill-field-group">
      <%= cf.label t("language_in_" + cf.object.locale), :class => "new-skill-label" %>
      <%= cf.hidden_field :locale %>
      <%= cf.text_field :name, :class => "new-skill-field" %>
    </div>
  <% end %>
<% end %>
