<% @skill.prereq_to.each do |skill| %>
  <% if skill.competence_node.type == 'ScopedCourse' %>
    <% if !@user || @user.courses.include?(skill.competence_node) %>
      <p class="course">
        <%= @user.id %>
        <%= link_to skill.competence_node.course_code + ' ' + skill.competence_node.name(I18n.locale), course_url(:id => skill.competence_node) %>:
        <%= skill.description(I18n.locale) %>
      </p>
    <% end %>
  <% else %>
    <p class="profile">
      <% if !@user || @user.competences.include?(skill.competence_node) %>
        <%= skill.competence_node.profile.name(I18n.locale) %> <%= skill.competence_node.name(I18n.locale) %>:
        <%= skill.description(I18n.locale) %>
      <% end %>
    </p>
  <% end %>
<% end %>
