<h1><%= @skill.competence_nodes.first.name(I18n.locale) %></h1>

<%= form_for @skill do |f| %>

  <li>
    <%= f.fields_for :skill_descriptions do |cf| %>
      <%= cf.text_field :description %>
    <% end %>
    
    <%= f.submit t(:Save) %>
  </li>
<% end %>
