<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "views/plans/courses/index", :media => 'all' %>
<% end %>


<% content_for(:javascripts) do %>
  <script type="text/javascript">
    <%= render "search_engine_i18n_strings.js" %>
    <%= render "index_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag "views/plans/courses/index", :media => 'all' %>
<% end %>


<div class="loader"></div>


<div class="row-fluid">
  <span class="span10">
    <h1 data-bind="text: title"></h1>
  </span>
  <span class="span2">
    <!-- ko if: PLAN && PLAN.hasUnsavedChanges() -->
      <button class="btn btn-block" data-bind="click: saveChanges">
        <%= t('.save') %>
      </button>
    <!-- /ko -->
  </span>
</div>



<!-- ko if: view() == 'plan' -->
  <!-- ko with: PLAN -->
    <!-- ko if: included().length == 0 -->
      <p>
        <%= t('.no_courses_in_plan') %>
      </p>
    <!-- /ko -->
    <div class="courses">
      <!-- ko foreach: included -->
        <div class="row-fluid course" data-bind="css: {'added': isAdded, 'passed': isPassed, 'included': isIncluded, 'scheduled': isScheduled, 'selected': isSelected}">
          <a data-bind="attr: { title: tooltip }">
            <span class="span2 code" data-bind="text: code"></span>
            <span class="span5 name" data-bind="text: name"></span>
            <span class="span1 credits" data-bind="text: credits"></span>
            <span class="span2 period" data-bind="text: periodName"></span>
            <span class="span1 grade" data-bind="text: grade"></span>
          </a>
          <button class="span1 btn" data-bind="click: removeFromPlan">
            <%= t('.remove_symbol') %>
          </button>
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->
<!-- /ko -->


<!-- ko if: view() == 'changes' -->
  <!-- ko with: PLAN -->
    <!-- ko if: changed().length == 0 -->
      <p>
        <%= t('.no_courses_added_nor_removed') %>
      </p>
    <!-- /ko -->
    <div class="courses">
      <!-- ko foreach: changed -->
        <div class="row-fluid course" data-bind="css: {'added': isAdded, 'removed': isRemoved, 'passed': isPassed, 'included': isIncluded, 'scheduled': isScheduled, 'selected': isSelected}">
          <a data-bind="attr: { title: tooltip }">
            <span class="span3 code" data-bind="text: code"></span>
            <span class="span7 name" data-bind="text: name"></span>
            <span class="span1 credits" data-bind="text: credits"></span>
          </a>
          <button class="span1 btn" data-bind="click: toggleInclusion">
            <span data-bind="visible: isIncluded() == true"><%= t('.remove_symbol') %></span>
            <span data-bind="visible: isIncluded() == false"><%= t('.add_symbol') %></span>
          </button>
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->
<!-- /ko -->


<!-- ko if: view() == 'search' -->
  <!-- ko with: ENGINE -->
    <input class="input-xlarge search-query" type="text" onsubmit="function(){return false;}" data-bind="value: inquery, valueUpdate: 'keyup'" />

    <!-- ko ifnot: isOk -->
      <p class="text-error">
        <%= t('.engine_not_working') %>
      </p>
    <!-- /ko -->

    <!-- ko with: infoMsg -->
      <p data-bind="text: $data"></p>
    <!-- /ko -->

    <div class="courses">

      <!-- ko foreach: results -->
        <div class="row-fluid course" data-bind="css: {'added': isAdded, 'removed': isRemoved, 'passed': isPassed, 'included': isIncluded, 'scheduled': isScheduled, 'selected': isSelected}">
          <a data-bind="attr: { title: tooltip }">
            <span class="span3 code" data-bind="text: code"></span>
            <span class="span7 name" data-bind="text: name"></span>
            <span class="span1 credits" data-bind="text: credits"></span>
          </a>
          <button class="span1 btn" data-bind="click: toggleInclusion">
            <span data-bind="visible: isIncluded() == true"><%= t('.remove_symbol') %></span>
            <span data-bind="visible: isIncluded() == false"><%= t('.add_symbol') %></span>
          </button>
        </div>
      <!-- /ko -->

    </div>
  <!-- /ko -->
<!-- /ko -->


<!-- ko if: view() == 'create' -->

  <!-- ko with: DRAFT -->
    <form class="form-horizontal" role="form">

      <div class="control-group">
        <label for="code" class="control-label">
          <%= t('.code') %>
        </label>
        <div class="controls">
          <input id="code" type="text" data-bind="value: code, valueUpdate: 'keyup'" />
        </div>
      </div>

      <div class="control-group">
        <label for="name" class="control-label">
          <%= t('.name') %>
        </label>
        <div class="controls">
          <input id="name" type="text" data-bind="value: name, valueUpdate: 'keyup'" />
        </div>
      </div>

      <div class="control-group">
        <label for="credits" class="control-label">
          <%= t('.credits') %>
        </label>
        <div class="controls">
          <input id="credits" type="number" data-bind="value: credits, valueUpdate: 'keyup'" />
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-default" action="create()">
            <%= t('.create_course') %>
          </button>
        </div>
      </div>

    </form>
  <!-- /ko -->

<!-- /ko -->


<span id="paths"
  data-search-courses-path="<%= search_courses_curriculum_path(@study_plan.curriculum_id) %>"
  data-studyplan-path="<%= plan_path(@study_plan.id) %>"
></span>


<% content_for(:theleft) do %>

  <div class="well">

    <div class="row-fluid">
      <span class="span4">
        <button class="btn btn-block" data-bind="click: changeViewToPlan">
          <%= t('.plan_view') %>
        </button>
      </span>
      <span class="span4">
        <button class="btn btn-block" data-bind="click: changeViewToChanges">
          <%= t('.changes_view') %>
        </button>
      </span>
      <span class="span4">
        <button class="btn btn-block" data-bind="click: changeViewToSearch">
          <%= t('.search_view') %>
        </button>
      </span>
      <!--
      <span class="span3">
        <button class="btn btn-block" data-bind="click: changeViewToCreate">
          <%= t('.create_view') %>
        </button>
      </span>
      -->
    </div>

    <!-- ko ifnot: selected -->
      <!-- ko if: showInstructions() -->
        <br/>
        <p data-bind="text: instructions"></p>
      <!-- /ko -->
    <!-- /ko -->

    <!-- ko with: selected -->

      <h1>
        <span class="code" data-bind="text: code"></span>
        <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: path }">
          <button class="btn pull-right">
            <%= t('.to_course_page') %>
          </button>
        </a>
        </br>
        <span class="name" data-bind="text: name"></span>
        (<span class="credits" data-bind="text: credits"></span> <%= t('cr') %>)
      </h1>

      <strong data-bind="text: tooltip">
      </strong>

      <!-- ko if: skills().length > 0 -->
        <h2>
          <%= t('.skills') %>
        </h2>
        <ul>
          <!-- ko foreach: skills -->
            <li data-bind="text: localizedName"></li>
          <!-- /ko -->
        </ul>
      <!-- /ko -->

      <!-- ko if: prereqs().length -->
        <h2>
          <%= t('.prereqs') %>
        </h2>
        <ul>
          <!-- ko foreach: prereqs -->
            <li>
              <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: studyplanPath }">
                <span class="code" data-bind="text: abstractCourse.code"></span>
                <span class="name" data-bind="text: abstractCourse.localizedName"></span>
                (<span class="credits" data-bind="text: credits"></span> <%= t('cr') %>)
              </a>
            </li>
          <!-- /ko -->
        </ul>
      <!-- /ko -->

    <!-- /ko -->

  </div>

<% end %>
