<h1><%=t :my_courses_heading %></h1>

<% if @competences.empty? %>
  <p><%= link_to t(:my_courses_no_profile_hint), studyplan_profiles_path %></p>
<% end %>

<% unless @user_courses.empty? %>
  <table class="plans-own-courses">
    <thead>
      <tr>
        <th>Code</th>
        <th>Course</th>
        <th>Credits</th>
        <th>Period</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <% @user_courses.each do |user_course| %>
        <tr <%= "class='course-completed'" if user_course.grade %>>
          <td><%= link_to user_course.scoped_course.code, studyplan_course_url(:id => user_course.scoped_course.id) %></td>
          <td><%= link_to user_course.scoped_course.name(I18n.locale), studyplan_course_url(:id => user_course.scoped_course.id) %></td>
          <td><%= user_course.scoped_course.credits %></td>
          <td>
            <% if user_course.course_instance %>
              <%= user_course.course_instance.period.name(I18n.locale) %>
            <% end %>
          </td>
          <td <%= "class='course-grade'" if user_course.grade %>><%= user_course.grade %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
