<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "views/plans/courses/index", :media => 'all' %>
<% end %>


<% content_for(:javascripts) do %>
  <script type="text/javascript">
    <%= render "search_engine_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag "views/plans/courses/index", :media => 'all' %>
<% end %>


<h1><%=t('.heading')%></h1>

<% if @competences.empty? %>
  <p><%= link_to t(:my_courses_no_profile_hint), studyplan_profiles_path %></p>
<% end %>

<div class="search-query">
  <input class="input-large search-query" type="text" data-bind="value: inquery, valueUpdate: 'keyup'" />
</div>

<div class="search-results-container" data-courses-path="<%= search_courses_curriculum_path(@study_plan.curriculum_id) %>">

  <!-- ko if: infomsg -->
    <p data-bind="text: infomsg"></p>
  <!-- /ko -->
  <!-- ko foreach: results -->
    <div class="row-fluid result">
      <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: path }">
        <span class="span3 code" data-bind="text: code"></span>
        <span class="span8 name" data-bind="text: name"></span>
        <span class="span1 credits" data-bind="text: credits"></span>
      </a>
    </div>
  <!-- /ko -->

</div>

<% content_for(:theleft) do %>
  DBG
  <div id="dbg">
  </div>
<% end %>
