<h1><%=t('.heading')%></h1>

<% if @competences.empty? %>
  <p><%= link_to t(:my_courses_no_profile_hint), studyplan_profiles_path %></p>
<% end %>


<%= render :partial => 'frontpage/course_listing', :locals => { :heading => t('.unscheduled_courses_heading'), :courses => @unscheduled_courses, :list_periods => false } %>

<%= render :partial => 'frontpage/course_listing', :locals => { :heading => t('.scheduled_courses_heading'), :courses => @scheduled_courses, :list_periods => true } %>

<%= render :partial => 'frontpage/course_listing', :locals => { :heading => t('.passed_courses_heading'), :courses => @passed_courses, :list_periods => true } %>




