<% content_for(:stylesheets) do -%>
  <%= stylesheet_link_tag "views/plans/courses/index", :media => 'all' %>
<% end -%>

<% content_for(:javascripts) do -%>
  <script type="text/javascript">
    <%= render "index_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag "views/plans/courses/index", :media => 'all' %>
<% end -%>

<% content_for(:leftnav) do -%>
  <!-- ko if: selectedCourse -->
    <div class="well" data-bind="with: selectedCourse">
      <h2>
        <span data-bind="text: course_code"></span>
        <span data-bind="text: name"></span>
        
        <!-- ko if: min_credits -->
          (<span data-bind="text: credits_string"></span> <%=t :cr %>)
        <!-- /ko -->
      </h2>
        
      <ul class="unstyled">
        <li><em><%=t :Period %></em>: <strong data-bind="text: default_period"></strong></li>
      </ul>
      
      <div data-bind="html: content"></div>
      
      <p>
        <em><%=t '.links' %>:</em>
        <!-- ko if: noppa_url --><a target="_blank" data-bind="attr: {href: noppa_url}">Noppa</a><!-- /ko -->
        <!-- ko if: oodi_url --><a target="_blank" data-bind="attr: {href: oodi_url}">Oodi</a><!-- /ko -->
      </p>
      
    </div>
  <!-- /ko -->
<% end -%>

<div class="row">
  <div class="span9">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#tab-search" data-toggle="tab"><%=t '.tab-search' %></a></li>
      <li><a href="#tab-courses" data-toggle="tab"><%=t '.tab-courses' %></a></li>
    </ul>
  </div>
</div>
 
<div class="tab-content row">
  <!-- Search tab -->
  <div class="tab-pane active span9" id="tab-search">
    <!-- Search box -->
    <div data-bind="with: search">
      <div class="input-append bottom-weight">
        <input class="input-xlarge" type="text" id="search" placeholder="<%= t '.search_box_placeholder' %>" data-bind="value: searchString, valueUpdate: 'keyup', event: { keyup: searchKeyPress }" />
        <button class="btn" data-bind="click: clickSearch"><i class="icon-search"></i></button>
        <button class="btn" data-bind="click: clickClearSearch"><i class="icon-remove"></i></button>
        
      </div>
      <div class="skill-editor-loading-icon" data-bind="visible: isLoading()">
        <%= image_tag 'progress.gif' %>
      </div>
      
      <p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>
    </div>

    <!-- Search results -->
    <table class="table table-condensed table-striped courses" data-bind="visible: searchResults().length > 0">
      <thead>
        <tr>
          <th><%=t '.table-code' %></th>
          <th><%=t '.table-name' %></th>
          <th><%=t '.table-credits' %></th>
          <th><%=t '.table-period' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- ko foreach: searchResults -->
          <!-- 'added': isAdded, 'removed': isRemoved, 'passed': isPassed, 'included': isIncluded, 'scheduled': isScheduled, 'selected': isSelected -->
          <tr class="course" data-bind="click: $root.selectCourse">
            <!--td class="id" data-bind="text: abstract_course_id"></td-->
            <td class="code" data-bind="text: course_code"></td>
            <td class="name" data-bind="text: name"></td>
            <td class="credits" data-bind="if: credits_string"><span data-bind="text: credits_string"></span> <%=t :cr %></td>
            <td class="period" data-bind="text: default_period"></td>
            <td>
              <!-- ko if: loading -->
                <%= image_tag 'progress.gif' %>
              <!-- /ko -->
              <!-- ko ifnot: loading -->
                <!-- ko ifnot: includedInPlan -->
                  <button title="<%=t '.add_to_plan_title' %>" class="btn" data-bind="click: $root.addCourseToPlan, clickBubble: false">
                    <i class="icon icon-plus"></i>
                  </button>
                <!-- /ko -->
                <!-- ko if: addedToPlan -->
                  <span class="success"><%=t '.added_to_plan' %></span>
                <!-- /ko -->
              <!-- /ko -->
            </td>
          </tr>
        <!-- /ko -->
      </tbody>
    </table>
  </div>
  
  <!-- Courses tab -->
  <div class="tab-pane span12" id="tab-courses">
    My courses
  </div>
</div>

<span id="paths"
  data-search-courses-path="<%= search_courses_path() %>"
  data-studyplan-path="<%= plan_path(@study_plan.id) %>"
  data-error-path="<%= client_side_error_path %>"
></span>
