<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "views/plans/courses/index", :media => 'all' %>
<% end %>


<% content_for(:javascripts) do %>
  <script type="text/javascript">
    <%= render "search_engine_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag "views/plans/courses/index", :media => 'all' %>
<% end %>


<h1><%=t('.heading')%></h1>

<div class="search-query">
  <input class="input-large search-query" type="text" data-bind="value: inquery, valueUpdate: 'keyup'" />
</div>

<div class="search-results-container">

  <!-- ko if: infomsg -->
    <p data-bind="text: infomsg"></p>
  <!-- /ko -->
  <!-- ko foreach: results -->
    <div class="row-fluid result" data-bind="css: {'selected': isSelected, 'included': isIncluded, 'passed': isPassed}">
      <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: path }">
        <span class="span3 code" data-bind="text: code"></span>
        <span class="span8 name" data-bind="text: name"></span>
        <span class="span1 credits" data-bind="text: credits"></span>
      </a>
    </div>
  <!-- /ko -->

</div>

<span id="paths"
  data-search-courses-path="<%= search_courses_curriculum_path(@study_plan.curriculum_id) %>"
  data-studyplan-path="<%= plan_path(@study_plan.id) %>"
></span>


<% content_for(:theleft) do %>

  <div class="well">

    <!-- ko if: engine.results().length == 0 -->
        <%= t('.instructions') %>
    <!-- /ko -->

    <!-- ko if: engine.results().length > 0 -->

      <!-- ko ifnot: selected -->
          <%= t('.hover_for_more_information') %>
      <!-- /ko -->

      <!-- ko with: selected -->

        <h1>
          <span class="code" data-bind="text: code"></span>
          <div class="btn pull-right">
            <%= t('.add') %>
          </div>
          <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: path }">
            <div class="btn pull-right">
              <%= t('.to_course_page') %>
            </div>
          </a>
          </br>
          <span class="name" data-bind="text: name"></span>
          (<span class="credits" data-bind="text: credits"></span> <%= t('cr') %>)
        </h1>

        <!-- ko if: isIncluded() -->
          <!-- ko if: isPassed() -->
            <p>
              <%= t('.is_passed_with_grade') %>
              <strong data-bind="text: grade"></strong>
              <%= t('.in_period') %>
              <strong data-bind="text: period.name"></strong>.
            </p>
          <!-- /ko -->
          <!-- ko ifnot: isPassed() -->
            <!-- ko ifnot: period -->
              <p>
                <%= t('.is_included_in_the_plan') %>
              </p>
            <!-- /ko -->
            <!-- ko with: period -->
              <p>
                <%= t('.scheduled_to_period') %>
                <strong data-bind="text: name"></strong>.
              </p>
            <!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: skills.length > 0 -->
          <h2>
            <%= t('.skills') %>
          </h2>
          <ul>
            <!-- ko foreach: skills -->
              <li data-bind="text: name"></li>
            <!-- /ko -->
          </ul>
        <!-- /ko -->

        <!-- ko if: prereqs.length > 0 -->
          <h2>
            <%= t('.prereqs') %>
          </h2>
          <ul>
            <!-- ko foreach: prereqs -->
              <li>
                <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: path }">
                  <span class="code" data-bind="text: code"></span>
                  <span class="name" data-bind="text: name"></span>
                  (<span class="credits" data-bind="text: credits"></span> <%= t('cr') %>)
                </a>
              </li>
            <!-- /ko -->
          </ul>
        <!-- /ko -->

      <!-- /ko -->

    <!-- /ko -->

  </div>

<% end %>
