<!-- plans/courses/show -->
<% content_for(:stylesheets) do -%>
  <%= stylesheet_link_tag "views/plans/courses", :media => 'all' %>
<% end -%>
<% content_for(:javascripts) do -%>
  <%= javascript_include_tag 'views/plans/courses/show' %>
<% end -%>
<% content_for :title do -%>
  <%= @course.course_code %> <%= @course.localized_name %>
<% end -%>
<% content_for(:theleft) do -%>

  <% if @competence %>

    <h1><%= link_to @competence.localized_name, studyplan_competence_path(:id => @competence) %></h1>
    <h2><%= t('.competence_courses') %></h2>
    <ul>
      <% @competence.recursive_prereqs.where(:type => 'ScopedCourse').each do |course| # TODO: move the query to controller
      %>
        <li class="<%= @user.study_plan.plan_courses.where( scoped_course_id: course.id ).exists? ? 'chosen' : '' %> <%= course == @course ? 'selected' : '' %>"><%= link_to course.localized_name, studyplan_competence_course_path(:competence_id => @competence.id, :id => course) %>
      <% end %>
    </ul>

  <% else %>
    <h1><%= link_to t('.study_plan'), studyplan_path %></h2>
    <h2><%= link_to t('.plan_courses'), studyplan_courses_path %></h2>
    <ul>
      <% @user.study_plan.scoped_courses.each do |course| %>
        <li class="<%= @user.study_plan.passed?( course.abstract_course ) ? 'passed' : '' %> <%= course == @course ? 'selected' : '' %>"><%= link_to course.localized_name, studyplan_course_path(:id => course) %>
      <% end %>
    </ul>
  <% end %>

<% end -%>

<h1>
  <%= @course.course_code %> <%= @course.localized_name %>

  <!-- Add / Remove -->
  <% if can? :choose, ScopedCourse %>
    <% unless @user.study_plan.scoped_courses.exists?(@course) %>
      <%= link_to studyplan_courses_path(:course_id => @course.id), {:method => :post, :class => 'btn btn-default'} do %>
        <i class="icon icon-plus"></i>
        <%= t(:course_add_to_plan) %>
      <% end %>
    <% end %>
  <% end %>
</h1>


<% if @user.treatment != TREATMENT_TRADITIONAL %>
  <%= render :partial => 'courses/graph_templates' %>
  
  <% if @competence %>
    <div id="course-graph"
      data-graph-path="<%= graph_curriculum_path(:id => @curriculum.id) %>" 
      data-source-id="<%= @course.id %>"
      data-target-id="<%= @competence.id %>"
      >
      <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
    </div>
  <% else %>
    <div id="course-graph"
      data-graph-path="<%= graph_curriculum_path(:id => @curriculum.id) %>" 
      data-source-id="<%= @course.id %>"
      >
      <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
    </div>
  <% end %>
  
<% end %>


<h2><%= t(:course_prereqs_reqursive) %></h2>
<%= render :partial => '/courses/prereqs_reqursive' %>
