<!-- plans/courses/show -->
<% content_for(:stylesheets) do -%>
  <%= stylesheet_link_tag "views/plans/courses", :media => 'all' %>
<% end -%>
<% content_for(:javascripts) do -%>
  <%= javascript_include_tag 'views/plans/courses/show' %>
<% end -%>
<% content_for :title do -%>
  <%= @course.course_code %> <%= @course.localized_name %>
<% end -%>
<% content_for(:theleft) do -%>

  <% if @competence %>

    <h1><%= link_to @competence.localized_name, studyplan_competence_path(:id => @competence) %></h1>
    <h2><%= t('.competence_courses') %></h2>
    <ul>
      <% @competence.courses_recursive.each do |course| %>
        <li class="<%= @user.study_plan.study_plan_courses.where( scoped_course_id: course.id ).exists? ? 'chosen' : '' %> <%= course == @course ? 'selected' : '' %>"><%= link_to course.localized_name, studyplan_competence_course_path(:competence_id => @competence.id, :id => course) %>
      <% end %>
    </ul>

  <% else %>
    <h1><%= link_to t('.study_plan'), studyplan_path %></h2>
    <h2><%= link_to t('.study_plan_courses'), studyplan_courses_path %></h2>
    <ul>
      <% @user.study_plan.courses.each do |course| %>
        <li class="<%= @user.passed?( course.abstract_course ) ? 'passed' : '' %> <%= course == @course ? 'selected' : '' %>"><%= link_to course.localized_name, studyplan_course_path(:id => course) %>
      <% end %>
    </ul>
  <% end %>

<% end -%>

<h1>
  <%= @course.course_code %> <%= @course.localized_name %>

  <!-- Add / Remove -->
  <% if can? :choose, ScopedCourse %>
    <% unless @user.study_plan.courses.exists?(@course) %>
      <%= link_to studyplan_courses_path(:course_id => @course.id), {:method => :post, :class => 'btn btn-default'} do %>
        <i class="icon icon-plus"></i>
        <%= t(:course_add_to_plan) %>
      <% end %>
    <% end %>
  <% end %>
</h1>

<%= render :partial => 'courses/graph_templates' %>


<% if @competence %>
  <div id="course-graph"
    data-courses-path="<%= curriculum_courses_path(:curriculum_id => @curriculum.id) %>"
    data-competences-path="<%= curriculum_competences_path(:curriculum_id => @curriculum.id) %>"
    data-skills-path="<%= curriculum_skills_path(:curriculum_id => @curriculum.id) %>"
    data-source-id="<%= @course.id %>"
    data-target-id="<%= @competence.id %>"
    >

    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
  </div>
<% else %>
  <h2><%=t('.provides')%></h2>
  <table class="course-skill-dependencies">
    <thead>
      <td><%= t('.prerequisites') %></td>
      <td><%= t('.provides') %></td>
      <td><%= t('.needed_by') %></td>
    </thead>
    <tbody>
      <tr>
        <td id="skill-prereqs"></td>
        <td id="course-skills-column">
          <div class="course">
            <%= @course.course_code + ' ' + @course.localized_name %>
            <% @course.skills.each do |skill| %>
              <%= link_to skill.localized_description, skill, { :class => 'skill', 'data-skill-id' => skill.id, 'data-user-id' => @user.id } %>
            <% end %>
          </div>
        </td>
        <td id="skill-future"></td>
      </tr>
    </tbody>
  </table>

<% end %>


<h2><%= t(:course_prereqs_reqursive) %></h2>
<%= render :partial => '/courses/prereqs_reqursive' %>
