<% content_for :javascript do %>
  <%= javascript_include_tag 'profileCourseView' %>
<% end %>

<h1>
  <%=h @course.code %> <%=h @course.name(I18n.locale) %>
  <!-- Add / Remove -->
  <% if user_signed_in? %>
    <% unless @user.courses.exists?(@course) %>
      <%= link_to image_tag('add.png', :alt => t(:course_add_to_plan)), studyplan_courses_path(:course_id => @course.id), :title => t(:profe_add_to_plan), :method => :post %>
    <% end %>
  <% end %>
</h1>

<% if @profile %>
  <!-- Study paths from course skills to profile skills -->
  <table id="course-profile-graph" class="course-profile-graph" data-profile-id="<%= @profile.id %>">
    <thead>
      <td>Provides</td>
      <td>Needed by</td>
    </thead>

    <tbody>
      <tr>
        <td class="course-skills-column">
          <% @course.skills.each do |skill| %>
            <div class="skill" data-skill-id="<%= skill.id %>">
              <%= skill.description(I18n.locale) %>
            </div>
          <% end %>
        </td>
        <td id="skill-future"></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <h2><%=t :course_provides %></h2>
  <table class="course-skill-dependencies">
    <thead>
      <td>Prerequisites</td>
      <td>Provides</td>
      <td>Needed by</td>
    </thead>

    <tbody>
      <tr>
        <td id="skill-prereqs"></td>
        <td id="course-skills-column">
          <% @course.skills.each do |skill| %>
            <div class="skill" data-skill-id="<%= skill.id %>">
              <%= skill.description(I18n.locale) %>
            </div>
          <% end %>
        </td>
        <td id="skill-future"></td>
      </tr>
    </tbody>
  </table>
<% end %>



<h2><%=t :course_path_heading %></h2>

<table class="course-path">
  <thead>
    <tr>
      <th><%=t :course_strict_prereqs %></th>
      <th></th>
      <th><%=h @course.name(I18n.locale) %> <%=t :course_strict_prereq_of %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="prereqs">
        <%= render :partial => '/courses/prereqs' %>
      </td>
      <td class="current">
        <%=h @course.code %><br />
        <%=h @course.name(I18n.locale) %>
      </td>
      <td class="future">
        <!-- List of courses which depend on this course -->
        <% if @course.prereq_to.empty? %>
          <%=t :course_no_future %>
        <% else %>
          <ul>
            <% @course.prereq_to.each do |course| %>
              <% if !@profile || @profile.courses.include?(course) %>
                <li>
                  <%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), {:id => course.id} %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>

      </td>
    <tr>
  </tbody>
</table>


<h2><%=t :course_prereqs_reqursive %></h2>

<%= render :partial => '/courses/prereqs_reqursive' %>
