<!-- plans/courses/show -->

<% content_for :javascript do %>
  <%= javascript_include_tag 'profileCourseView'
  %>
  <%= javascript_include_tag 'pathCourse' %>
  <%= javascript_include_tag 'pathViewer' %>
  <%= javascript_include_tag 'pathView' %>
<% end %>

<h1>
  <%= @course.course_code %> <%= @course.name(I18n.locale) %>
  <!-- Add / Remove -->
  <% if can? :choose, ScopedCourse %>
    <% unless @user.courses.exists?(@course) %>
      <%= link_to image_tag('add.png', :alt => t(:course_add_to_plan)), studyplan_courses_path(:course_id => @course.id), :title => t(:profile_add_to_plan), :method => :post %>
    <% end %>
  <% end %>
</h1>

<% if @competence %>
  <!-- Study paths from course skills to profile skills -->
  <table id="course-profile-graph" class="course-profile-graph" data-competence-id="<%= @competence.id %>">
    <thead>
      <td><%=t :course_Provides %></td>
      <td></td>
    </thead>

    <tbody>
      <tr>
        <td class="course-skills-column">
          <% @course.skills.each do |skill| %>
            <%= link_to skill.description(I18n.locale), competencepath_skill_path(:id => skill.id, :competence_id => @competence.id), { :class => 'skill click-hint', 'data-skill-id' => skill.id } %>
          <% end %>
        </td>
        <td id="skill-future"><p class="hint"><%=t :course_paths_hint %></p></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <h2><%=t :course_provides %></h2>
  <table class="course-skill-dependencies">
    <thead>
      <td>Prerequisites</td>
      <td>Provides</td>
      <td>Needed by</td>
    </thead>

    <tbody>
      <tr>
        <td id="skill-prereqs"></td>
        <td id="course-skills-column">
          <div class="course">
            <%= @course.course_code + ' ' + @course.name(I18n.locale) %>
            <% @course.skills.each do |skill| %>
              <%= link_to skill.description(I18n.locale), skill, { :class => 'skill', 'data-skill-id' => skill.id, 'data-user-id' => @user.id } %>
            <% end %>
          </div>
        </td>
        <td id="skill-future"></td>
      </tr>
    </tbody>
  </table>
  
  <canvas id="paths" data-prereqs-path="<%= prereqs_curriculum_path(@curriculum.id) %>" data-course="<%= @course.id %>" data-user-courses-path="<%= courses_user_path(@user.id) %>" width="1000px" height="700px">
  </canvas>
<% end %>




<h2><%=t :course_path_heading %></h2>

<table class="course-path">
  <thead>
    <tr>
      <th><%=t :course_strict_prereqs %></th>
      <th></th>
      <th><%= @course.name(I18n.locale) %> <%=t :course_strict_prereq_of %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="prereqs">
        <%= render :partial => '/courses/prereqs' %>
      </td>
      <td class="current">
        <%= @course.course_code %><br />
        <%= @course.name(I18n.locale) %>
      </td>
      <td class="future">
        <!-- List of courses which depend on this course -->
        <% if @course.prereq_to.empty? %>
          <%=t :course_no_future %>
        <% else %>
          <ul>
            <% @course.prereq_to.each do |course| %>
              <li>
                <%= link_to course.course_code + ' ' + course.name(I18n.locale), {:id => course.id} %>
              </li>
            <% end %>
          </ul>
        <% end %>

      </td>
    <tr>
  </tbody>
</table>


<h2><%=t :course_prereqs_reqursive %></h2>

<%= render :partial => '/courses/prereqs_reqursive' %>
