<!-- plans/courses/show -->

<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag "views/plans/courses", :media => 'all' %>
<% end %>

<% content_for(:javascripts) do %>
  <%= javascript_include_tag 'libs/graph/graphView' %>
  <%= javascript_include_tag 'plans/showCourse' %> - FIXMENOW
<% end %>

<% content_for :title do %>
  <%= @course.course_code %> <%= @course.localized_name %>
<% end %>


<% content_for(:theleft) do %>

  <% if @competence %>

    <h1><%= link_to @competence.localized_name, studyplan_competence_path(:id => @competence) %></h1>
    <h2><%= t('.competence_courses') %></h2>
    <ul>
      <% @competence.courses_recursive.each do |course| %>
        <li class="<%= @user.study_plan.study_plan_courses.where( scoped_course_id: course.id ).exists? ? 'chosen' : '' %> <%= course == @course ? 'selected' : '' %>"><%= link_to course.localized_name, studyplan_competence_course_path(:competence_id => @competence.id, :id => course) %>
      <% end %>
    </ul>

  <% else %>
    <h1><%= link_to t('.study_plan'), studyplan_path %></h2>
    <h2><%= link_to t('.study_plan_courses'), studyplan_courses_path %></h2>
    <ul>
      <% @user.study_plan.courses.each do |course| %>
        <li class="<%= @user.passed?( course.abstract_course ) ? 'passed' : '' %> <%= course == @course ? 'selected' : '' %>"><%= link_to course.localized_name, studyplan_course_path(:id => course) %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h1>
  <%= @course.course_code %> <%= @course.localized_name %>
<<<<<<< HEAD
=======

>>>>>>> ca3e5f45293aa0a7ae9adf5f9bbfe3f8c756574c
  <!-- Add / Remove -->
  <% if can? :choose, ScopedCourse %>
    <% unless @user.study_plan.courses.exists?(@course) %>
      <%= link_to studyplan_courses_path(:course_id => @course.id), {:method => :post, :class => 'btn btn-default'} do %>
        <i class="icon icon-plus"></i>
        <%= t(:course_add_to_plan) %>
      <% end %>
    <% end %>
  <% end %>
</h1>

<script type="text/html" id="courseTemplate"><div class="course" data-bind="position: position, css: {competence: isCompetence, cyclic: isCyclic}">
  <h1 data-bind="text: name"></h1>

  <ul data-bind="foreach: skills">
    <!-- ko template: { name: 'skillTemplate', if: visible, afterRender: $root.updateElementDimensions } --><!-- /ko -->
  </ul>
</div></script>

<script type="text/html" id="skillTemplate"><li class="skill" data-bind="text: description, css: {hilight: highlighted}"></li></script>


<% if @competence %>
<<<<<<< HEAD
  <!-- Study paths from course skills to competence skills -->
  <table id="course-competence-graph" class="course-competence-graph" data-competence-id="<%= @competence.id %>">
=======
  <div id="course-graph"
    data-courses-path="<%= curriculum_courses_path(:curriculum_id => @curriculum.id) %>"
    data-competences-path="<%= curriculum_competences_path(:curriculum_id => @curriculum.id) %>"
    data-skills-path="<%= curriculum_skills_path(:curriculum_id => @curriculum.id) %>"
    data-source-id="<%= @course.id %>"
    data-target-id="<%= @competence.id %>"
    >

    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
  </div>

  <!-- Study paths from course skills to profile skills -->
  <!--
  <table id="course-profile-graph" class="course-profile-graph" data-competence-id="<%= @competence.id %>">
>>>>>>> ca3e5f45293aa0a7ae9adf5f9bbfe3f8c756574c
    <thead>
      <td><%=t('.provides')%></td>
      <td></td>
    </thead>

    <tbody>
      <tr>
        <td class="course-skills-column">
          <% @course.skills.each do |skill| %>
            <%= link_to skill.localized_description, competencepath_skill_path(:id => skill.id, :competence_id => @competence.id), { :class => 'skill click-hint', 'data-skill-id' => skill.id } %>
          <% end %>
        </td>
        <td id="skill-future"><p class="hint"><%=t('.paths_hint')%></p></td>
      </tr>
    </tbody>
  </table>
  -->
<% else %>
  <h2><%=t('.provides')%></h2>
  <table class="course-skill-dependencies">
    <thead>
      <td><%= t('.prerequisites') %></td>
      <td><%= t('.provides') %></td>
      <td><%= t('.needed_by') %></td>
    </thead>

    <tbody>
      <tr>
        <td id="skill-prereqs"></td>
        <td id="course-skills-column">
          <div class="course">
            <%= @course.course_code + ' ' + @course.localized_name %>
            <% @course.skills.each do |skill| %>
              <%= link_to skill.description(I18n.locale), skill, { :class => 'skill', 'data-skill-id' => skill.id, 'data-user-id' => @user.id } %>
            <% end %>
          </div>
        </td>
        <td id="skill-future"></td>
      </tr>
    </tbody>
  </table>

<% end %>




<<<<<<< HEAD
<h2><%=t('.path_heading')%></h2>

<table class="course-path">
  <thead>
    <tr>
      <th><%=t(:course_strict_prereqs)%></th>
      <th></th>
      <th><%= @course.localized_name %> <%=t(:course_strict_prereq_of)%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="prereqs">
        <%= render :partial => '/courses/prereqs' %>
      </td>
      <td class="current">
        <%= @course.course_code %><br />
        <%= @course.localized_name %>
      </td>
      <td class="future">
        <!-- List of courses which depend on this course -->
        <% if @course.prereq_to.empty? %>
          <%=t(:course_no_future)%>
        <% else %>
          <ul>
            <% @course.prereq_to.each do |course| %>
              <li>
                <%= link_to course.course_code + ' ' + course.localized_name, {:id => course.id} %>
              </li>
            <% end %>
          </ul>
        <% end %>

      </td>
    <tr>
  </tbody>
</table>

=======
>>>>>>> ca3e5f45293aa0a7ae9adf5f9bbfe3f8c756574c

<h2><%=t(:course_prereqs_reqursive)%></h2>

<%= render :partial => '/courses/prereqs_reqursive' %>
