    <!-- ko if: ((engine.results().length > 0) && (! selected())) -->
      <p>
        <%= t('.hover_for_more_information') %>
      </p>
    <!-- /ko -->

    <!-- ko with: selected -->

      <!-- ko if: selected().code -->
        <h1>
          <span class="code" data-bind="text: code"></span>
          <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: path }">
            <button class="btn pull-right">
              <%= t('.to_course_page') %>
            </button>
          </a>
          <button class="btn pull-right">
            <span data-bind="visible: isIncluded() == true"><%= t('.remove') %></span>
            <span data-bind="visible: isIncluded() == false"><%= t('.add') %></span>
          </button>
          </br>
          <span class="name" data-bind="text: name"></span>
          (<span class="credits" data-bind="text: credits"></span> <%= t('cr') %>)
        </h1>

        <strong data-bind="text: tooltip">
        </strong>
      <!-- /ko -->

    <!-- /ko -->


        <!-- ko if: skills.length > 0 -->
          <h2>
            <%= t('.skills') %>
          </h2>
          <ul>
            <!-- ko foreach: skills -->
              <li data-bind="text: name"></li>
            <!-- /ko -->
          </ul>
        <!-- /ko -->

        <!-- ko if: prereqs.length > 0 -->
          <h2>
            <%= t('.prereqs') %>
          </h2>
          <ul>
            <!-- ko foreach: prereqs -->
              <li>
                <a title="<%= t('.to_course_page') %>" data-bind="attr: { href: path }">
                  <span class="code" data-bind="text: code"></span>
                  <span class="name" data-bind="text: name"></span>
                  (<span class="credits" data-bind="text: credits"></span> <%= t('cr') %>)
                </a>
              </li>
            <!-- /ko -->
          </ul>
        <!-- /ko -->
