<% if [ StudyPlanCourse, ScopedCourse ].member?( courses.first.class ) %>
  <% courses.each do |course| %>
    <tr>
      <td><%= course.course_code %></td>
      <td><%= link_to course.name(I18n.locale), studyplan_course_url(:id => course.id) %></td>
      <td><%= course.credits %></td>
      <% if list_periods %>
        <td><%= course.period_name( I18n.locale ) %></td>
      <% end %>
    </tr>
  <% end %>

<% elsif courses.first.class == UserCourse %>
  <% courses.each do |user_course| %>
    <tr class='course-completed'>
      <td><%= user_course.course_code %></td>
      <td><%= link_to user_course.name( @study_plan.curriculum, I18n.locale ), studyplan_course_url( :id => user_course.id ) %></td>
      <td><%= user_course.credits( @study_plan.curriculum ) %></td>
      <td><%= user_course.period_name( I18n.locale ) %></td>
      <td class='course-grade'><%= user_course.grade %></td>
    </tr>
  <% end %>
<% end %>

