<h1><%=t('.heading')%></h1>

<%= render :partial => 'curriculums/index' %>

<div class="row-fluid">
  <div class="span4">
    <%= render :partial => 'plans/dashboard' %>
  </div>
  <div class="span4">
    <%= render :partial => 'plans/dashboard' %>
  </div>
</div>

<!--
  <%= render :partial => 'plans/dashboard' %>
-->
