<% content_for :javascript do %>
  <%= javascript_include_tag 'dashboard' %>
<% end %>


<h1><%= t('.heading') %></h1>

<p>
  <%= t('.welcome', name: @user.name) %>
</p>


<% if @study_plan %>

  <%= render :partial => 'schedule' %>

  <div class="row-fluid">
    <div class="span4">
      <%= render :partial => 'competences' %>
    </div>
    <div class="span4">
      <%= render :partial => 'courses' %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
    </div>
    <div class="span4">
      <%= render :partial => 'curriculums' %>
    </div>
  </div>

<% end %>
