<h1><%=t :choose_curriculum_heading %></h1>

<% if @user.study_plan and @user.study_plan.curriculum %>
  <div class="alert">
    <h4><%=t :change_curriculum_warning_heading %></h4>
    <%=t :change_curriculum_warning %>
  </div>
<% end %>

<%= form_tag studyplan_curriculum_path, :method => :put, :class => 'form-horizontal' do %>
  <% @curriculums.each do |curriculum| %>
    <div class="form-control-group">
      <div class="controls">
        <label class="radio">
          <%= radio_button('user_study_plan', 'curriculum', curriculum.id) %>
          <%= curriculum.name %>
        </label>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
      <%= link_to t(:Cancel), studyplan_curriculum_path, :class => 'btn' %>
      <%= submit_tag t(:Select), :class => 'btn btn-primary' %>
  </div>
<% end %>
