<table class="search-results">
  <% @courses.each do |course| %>
    <% @course = course %>
    <tr id="search-course-id-<%= course.id %>" class="skill-search-result">
      <th class="skill-course-detail" colspan="3">
        <span class="skill-search-course-code">
          <%= @course.course_code %>
        </span>
        <span class="skill-search-course-name">
          <%= @course.localized_name %>
        </span>
      </th>
    </tr>

    <% @course.localized_skill_descriptions.each do |skill_desc| %>
      <tr id="search-skill-id-<%= skill_desc.skill_id %>" data-for-course="<%= course.id %>">
        <td><%= skill_desc.name %></td>
        <td class="skill-search-warning-image">
            <span class="invisible">
              <%= image_tag "glyphicons_078_warning_sign_white.png" %>
            </span>
        </td>
        <td class="skill-search-button-cell">
          <% if @alreadyPrereq[skill_desc.skill_id.to_s] %>
            <button class="button-base button-small skill-remove-prereq-button"
              data-skill-id="<%= skill_desc.skill_id %>"
              data-button-type="add-remove-prereq">
            <%= t 'add_prereq_button_remove', :scope => 'curriculums.skills.edit' %>
          <% else %>
            <button class="button-base button-small skill-add-prereq-button"
              data-skill-id="<%= skill_desc.skill_id %>"
              data-button-type="add-remove-prereq">
            <%= t 'add_prereq_button', :scope => 'curriculums.skills.edit' %>
          </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
