<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/curriculums/skills/edit.js' %>
<% end %>

<div>
  <div class="info">
    <strong><%= t '.help_heading' %></strong>
    <%= t '.help_text' %>
  </div>

  <strong><%= t '.selected_skill' %></strong> <%= @skill.localized_name %>

  <div id="metadata" style="display: none"
    data-skill-id="<%= @skill_id %>"
    data-skill-search-url="<%=
      search_skills_and_courses_curriculum_skill_path(params[:locale],
        params[:curriculum_id], params[:id]) %>"
    data-skill-prereq-add-url="<%= add_prereq_curriculum_skill_path(params[:locale],
      params[:curriculum_id], @skill_id) %>"
    data-skill-prereq-remove-url="<%= remove_prereq_curriculum_skill_path(params[:locale],
      params[:curriculum_id], @skill_id) %>"
    data-prereq-add-text="<%= t '.add_prereq_button' %>"
    data-prereq-adding-text="<%= t '.add_prereq_button_adding' %>"
    data-prereq-remove-text="<%= t '.add_prereq_button_remove' %>"
    data-prereq-removing-text="<%= t '.add_prereq_button_removing' %>">
  </div>

  <h4 class="colorful"><%= t '.current_prereqs' %></h4>

  <div>
    <table id="skill-current-prereqs">
      <tbody>
        <% @courses_rendered.each do |course| %>
          <%# The html code must not be escaped %>
          <%= raw(course) %>
        <% end %>
      </tbody>
    </table>
  </div>

  <h4 class="colorful"><%= t '.add_new_prereqs' %></h4>

  <p><%= t '.search_courses_and_skills' %></p>

  <input id="skill-search-box"></input>

  <div id="skill-search-results">

  </div>

  <div id="skill-endless-pagination-footer">
      <p>
        <span id="skill-endless-pagination-hint" class="hide">
          <%= t '.search_footer_hint' %>
        </span>
        <span id="skill-endless-pagination-no-results-msg" class="hide">
          <%= t '.search_footer_no_results' %>
        </span>
        <span id="skill-endless-pagination-failure-msg" class="hide">
          <%= t '.search_footer_failure' %>
        </span>
      </p>
      <p>
        <span id="skill-endless-pagination-loading" class="hide"><%= image_tag "progress.gif" %></span>
      </p>
  </div>


</div>
