<h1>
  <%= link_to @profile.name(I18n.locale), curriculum_profile_path(:curriculum_id => @curriculum.id, :id => @profile.id) %>
  <%= link_to @competence.name(I18n.locale), curriculum_competence_path(:curriculum_id => @curriculum.id, :id => @competence.id)  %>
</h1>

<h2><%= @skill.description(I18n.locale) %></h2>

<% @courses.each do |course, skill_map| %>
  <h3><%= course.course_code %> <%= course.name(I18n.locale) %></h3>

  <ul>
    <% skill_map.each_value do |skill| %>
      <li><%= skill.description(I18n.locale) %></li>
    <% end %>
  </ul>
<% end %>

<p class="back-link"><%= link_to t(:Back), curriculum_competence_path(:curriculum_id => @curriculum.id, :id => @competence.id) %></p>
