<h2>
  <%= t(:course_prereqs) %>
</h2>

<% if @course.prereqs.empty? %>
  <p><%=t :course_no_prereqs %></p>
<% else %>
  <table class="course-prereq-matrix">
    <thead>
      <td></td>
      <!-- Skills provided -->
      <% @course.skills.each do |skill| %>
        <td><%= skill.description(I18n.locale) %></td>
      <% end %>
    </thead>
    <tbody>
      <!-- Prereq courses -->
      <% @course.prereqs.each do |prereq_course| %>
        <tr class="spacer">
          <td></td>
          <% @course.skills.each do |skill| %>
            <td></td>
          <% end %>
        </tr>

        <tr class="prereq-course-name">
          <!-- Course name -->
          <td class="prereq-course-name">
            <%= link_to prereq_course.course_code + ' ' + prereq_course.name(I18n.locale), root_url %>
          </td>
          <td colspan='<%= @course.skills.size %>'></td>
        </tr>

        <% prereq_course.skills.each do |prereq_skill| %>
          <tr>
            <!-- Skill -->
            <td class="prereq-skill-description"><%= prereq_skill.description(I18n.locale) %></td>

            <!-- Relations -->
            <% @course.skills.each do |skill| %>
              <td>
                <%= skill_prereq(skill.id, prereq_skill.id) %>
              </td>
            <% end %>
          </tr>
        <% end %>

      <% end %>

    </tbody>
  </table>
<% end %>
