<h1><%= @course.course_code %> <%= @course.name(I18n.locale) %></h1>


<table class="course-graph">
  <thead>
    <td>Requirements</td>
    <td>Provides</td>
    <td>Needed by</td>
  </thead>

  <tbody>
    <tr>
      <td id="skill-prereqs"></td>
      <td>
        <% @course.skills.each do |skill| %>
          <p>
            <%= link_to 'x', prereqs_skill_url(:id => skill), :remote => true %>
            
            <%= skill.localized_description %>
            
            <%= link_to 'x', future_skill_url(:id => skill), :remote => true %>
          </p>
        <% end %>
      </td>
      <td id="skill-future"></td>
    </tr>
  </tbody>
</table>


<%= render :partial => 'prereqs_detailed' %>

<%= render :partial => 'prereq_to' %>