<h1><%=t :plan_heading %></h1>

<% if @user.courses.empty? && @user.profiles.empty? %>
  <%= t :plan_empty_instructions %>
<% end %>


<h2>Profiles</h2>
<ul>
  <% @user.profiles.each do |profile| %>
    <li><%= profile.name(I18n.locale) %></li>
  <% end %>
</ul>


<h2>Courses</h2>

<% @semesters.each_with_index do |semester,index| %>
  <div class="semester" id="semester-<%= index %>">
    <h2><%= index %></h2>
    <% semester.each do |course| %>
      <% next unless course %>
      <div class="course" id="course-<%= course.id %>"><%= h(course.code) + ' ' + h(course.name(I18n.locale)) %></div>
      <%= draggable_element "course-#{course.id}" %> 
    <% end %>
  </div>
  <script>
    Droppables.add('semester-<%= index %>',{
      onDrop: function(dragged, dropped, event) {
        alert('Dragged: ' + dragged.id);
        alert('Dropped onto: ' + dropped.id);
      }
    });

  </script>

<% end %>


<table>
  <tr>
    <td>Levels:</td><td><%= @semesters.size %></td>
  </tr>
  <tr>
    <td>Courses:</td><td><%= @user.courses.size %></td>
  </tr>
  <tr>
    <td>Credits:</td><td><%= @credits %></td>
  </tr>
</table>