<h1><%=t :plan_heading %></h1>

<% if @user.courses.empty? && @user.profiles.empty? %>
  <%= t :plan_empty_instructions %>
<% end %>


<h2>Profiles</h2>
<ul>
  <% @user.profiles.each do |profile| %>
    <li><%= profile.name(I18n.locale) %></li>
  <% end %>
</ul>


<h2>Courses</h2>

<div class="plan">
  <% @periods.each_with_index do |period,index| %>
    <div class="period" id="period-<%= index %>">
      <h2><%= period.name(I18n.locale) %></h2>
      
      <%= i = 0 %>
      <% @courses.each do |course| %>
        <% next unless course %>
        
        <div class="course" style="left: <%= i * 100 %>px" id="course-<%= course.id %>"><%= h(course.code) + ' ' + h(course.name(I18n.locale)) %></div>
        <%= draggable_element "course-#{course.id}" %> 
        
        <%= i += 1 %>
      <% end %>
      
      <div class="clear"></div>
    </div>
    
    <script>
      Droppables.add('period-<%= index %>',{
        onDrop: function(dragged, dropped, event) {
          alert('Dragged: ' + dragged.id);
          alert('Dropped onto: ' + dropped.id);
        }
      });
    </script>
  <% end %>
</div>

<table>
  <tr>
    <td>Levels:</td><td><%=  %></td>
  </tr>
  <tr>
    <td>Courses:</td><td><%= @user.courses.size %></td>
  </tr>
</table>