<%= form_for @abstract_course, :remote => true, :url => curriculum_courses_path(params[:curriculum_id]) do |f| %>
  
  <div class="form-control-group">
    <%= f.label t('.course_code'), :class => 'form-label' %>
    <div class="form-controls">
      <%= f.text_field :course_code, :class => 'field-lengthy' %>
    </div>
  </div>

  <div class="form-control-group">
    <%= f.label 'Opetuskieli', :class => 'form-label' %>
    <div class="form-controls">
      <%= select_tag 'course-form-teaching-lang', options_for_select(@teaching_lang_options) %>
    </div>
  </div>

  <%= f.fields_for :course_descriptions do |cf| %>
    <div class="form-control-group <%= 'hide' unless cf.object.locale =~ /en/ %>" data-name-locale="<%= cf.object.locale %>">
      <%= cf.label t(".course_title_in_" + cf.object.locale), :class => "form-label" %>
      <%= cf.hidden_field :locale %>
      <div class="form-controls">
        <%= cf.text_field :name, :class => 'field-lengthy' %>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :scoped_courses, @scoped_course do |scoped| %>
    <%= scoped.label t('.credits'), :class => "form-label" %>
    <div class="form-controls">
      <%= scoped.text_field :credits, :class => "field-lengthy" %>
    </div>
  <% end %>
<% end %>
