<h1>
  <%= link_to @curriculum.name, edit_curriculum_path(@curriculum) %> /
  <%= @scoped_course.localized_name %>
</h1>

<ul class="nav nav-tabs">
  <li<%= controller.action_name == 'edit' ? ' class="active"'.html_safe : '' %>><%= link_to t('curriculums.courses.edit_tab'), edit_curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course) %></li>
  <li<%= controller.action_name == 'edit_prereqs' ? ' class="active"'.html_safe : '' %>><%= link_to t('curriculums.courses.prereqs_tab'), edit_prereqs_curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course) %></li>
  <li<%= controller.action_name == 'edit_as_a_prereq' ? ' class="active"'.html_safe : '' %>><%= link_to t('curriculums.courses.as_a_prereq_tab'), edit_as_a_prereq_curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course) %></li>
  <li<%= controller.action_name == 'graph' ? ' class="active"'.html_safe : '' %>><%= link_to t('curriculums.courses.graph_tab'), graph_curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course) %></li>
  <li<%= controller.action_name == 'comments' ? ' class="active"'.html_safe : '' %>><%= link_to t('curriculums.courses.comments_tab'), comments_curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course) %></li>
  
  <% if controller.action_name == 'edit_prereqs' || controller.action_name == 'edit_as_a_prereq' %>
    <!-- ko with: hintViewModel -->
      <li>
        <button class="btn btn-mini btn-info" 
                type="button" 
                data-bind="toggle: shown">
          <%= t 'curriculums.show_help' %>
        </button>
      </li>
    <!-- /ko -->
  <% end %>

</ul>

