<% content_for :javascript do %>
  <script type="text/javascript">
    <%= render "skill_editor_i18n_strings.js" %>
  </script>
  <%= javascript_include_tag 'curriculums/skillEditor' %>
<% end %>

<h1><%= @course.localized_description.name %></h1>

<ul class="nav nav-tabs">
  <li><%= link_to t('curriculums.courses.edit_tab'), edit_curriculum_course_path(:curriculum_id => @curriculum, :id => @course) %></li>
  <li class="active"><%= link_to t('curriculums.courses.prereqs_tab'), edit_prereqs_curriculum_course_path(:curriculum_id => @curriculum, :id => @course) %></li>
</ul>

<div class="row-fluid full-height">

  <!-- Prereqs -->
  <div class="span6 full-height scroll-vertical">
    <h2><%=t '.prereqs_heading' %></h2>
    
    <div class="input-append bottom-weight">
      <input class="span8" type="text" id="search" placeholder="<%= t '.search_box_placeholder' %>" data-bind="value: searchString, valueUpdate: 'keyup', event: { keyup: searchKeyPress }" />
      <button class="btn" data-bind="click: clickSearch"><i class="icon-search"></i></button>
      <button class="btn" data-bind="click: clickClearSearch"><i class="icon-remove"></i></button>
    </div>
    
    <!-- Error alert box -->
    <div class="row-fluid hide" data-bind="css: { hide: loadFailed() === false }">
      <div class="alert alert-error span11">
        <strong>Error!</strong> Failed to load content. Please try again later.
      </div>
    </div>

    <!-- loading icon -->
    <div class="skill-editor-loading-icon hide" data-bind="css: { hide: isLoading() === false }">
      <%= image_tag 'progress.gif' %>
    </div>

    <div data-bind="foreach: visibleNodes">
      
      <div class="course">
        <p><span data-bind="text: code"></span> <span data-bind="text: localizedName"></span> <span class="pull-right" data-bind="text: localizedType"></span></p>
        <!-- ko foreach: skills -->
          <div class="skill" data-bind="css: { 
              selected: selected(), 
              supporting: prereqType() === 0, 
              strict: prereqType() === 1,
              loading: isLoading()
            }">
            <div class="buttons">
              <span data-bind="click: clickToggleSupportingPrereq" class="supportingPrereqButton"><%=t('.supportingPrereqButton') %></span>
              <span data-bind="click: clickToggleStrictPrereq" class="strictPrereqButton"><%=t('.strictPrereqButton') %></span>
            </div>
            <span data-bind="text: localizedDescription"></span>
          </div>
        <!-- /ko -->
      </div>
      
    </div>
  </div>
  
  <!-- Outcomes -->
  <div class="span6">
    <h2><%=t '.outcomes_heading' %></h2>
    
    <!-- loading icon -->
    <div class="skill-editor-loading-icon" data-bind="css: { hide: targetNodeIsLoading() === false }">
      <%= image_tag 'progress.gif' %>
    </div>

    <div id="target-node" class="course"
      data-node-id="<%= @course.id %>" 
      data-url="<%= curriculum_course_path(:curriculum_id => @curriculum, :course_id => @course) %>">
      <!-- ko with: node -->
        <p><span data-bind="text: code"></span> <span data-bind="text: localizedName"></span></p>
        <!-- ko foreach: skills -->
          <div class="skill" data-bind="click: clickSelectTarget, css: { selected: selected() }">
            <div class="buttons">
              <i class="icon-pencil" data-bind="click: clickEdit"></i>
              <i class="icon-remove" data-bind="click: clickDelete, clickBubble: false"></i>
            </div>
            <span data-bind="text: localizedDescription"></span>
          </div>
        <!-- /ko -->
      <!-- /ko -->
      
      <p><button class="btn btn-mini" data-bind="click: $root.clickAddSkill"><%=t '.add_skill' %></button></p>
    </div>
    
  </div>

</div>

<p><%= link_to t(:Back), edit_curriculum_path(@curriculum) %></p>

<!-- Skill editor modal -->
<div id="modal-edit-skill" class="modal hide" 
  data-current-locale="<%= I18n.locale %>" 
  data-locales="<%= REQUIRED_LOCALES.join(',') %>" 
  data-curriculum-url="<%= curriculum_path(@curriculum) %>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3><%= @course.localized_description.name %> - <%= t('.add_skill') %></h3>
    </div>
    <div class="modal-body" data-bind="with: currentlyEditedSkill">
      <div class="form-horizontal" data-bind="foreach: descriptions">
        <div class="control-group">
          <label class="control-label">
            <span data-bind="text: localizedLocale"></span>
          </label>
          <div class="controls">
            <input type="text" class="input-xlarge" data-bind="value: description" />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:Cancel) %></button>
      <button class="btn btn-primary" data-bind="click: clickSaveSkill"><%= t(:Save) %></button>
    </div>
</div>

<!-- Deletion confirmation modal -->
<div id="modal-confirm-skill-deletion" class="modal hide fade" 
  data-bind="showModal: showDeletionConfirmationModal, with: currentlyEditedSkill">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 data-bind="text: generateDeletionConfirmationString()"></h4>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal"><%= t :Cancel %></button>
    <button class="btn btn-danger" data-bind="click: clickConfirmDeletion"><%= t '.delete_skill' %></button>
  </div>
</div
    