<% content_for :title do %><%= @scoped_course.localized_description.name %> - <%=t :Edit %><% end %>

<h1>
  <%= link_to @curriculum.name, edit_curriculum_path(@curriculum) %> /
  <%= @scoped_course.localized_description.name %>
</h1>


<ul class="nav nav-tabs">
  <li class="active"><%= link_to t('curriculums.courses.edit_tab'), edit_curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course) %></li>
  <li><%= link_to t('curriculums.courses.prereqs_tab'), edit_prereqs_curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course) %></li>
</ul>

<p class="hint"><%=t '.hint' %></p>

<%= form_for(@scoped_course, :url => curriculum_course_path(:curriculum_id => @curriculum, :id => @scoped_course), :html => {:class => 'form-horizontal'}) do |f| %>

  <table class="temp-course-form">
    <tbody>
      <tr>
        <td><%= f.label :contact, t('.contact'), :class => 'control-label' %></td>
        <td><%= f.text_field :contact %></td>
        <td class="hint"><%=t '.contact_hint' %></td>
      </tr>
      <tr>
        <td><%= f.label :course_code, t('.code'), :class => 'control-label' %></td>
        <td><%= f.text_field :course_code %></td>
        <td class="hint"><%=t '.code_hint' %></td>
      </tr>
      <tr>
        <td><%= f.label :credits, t('.credits'), :class => 'control-label' %></td>
        <td><%= f.number_field :credits %></td>
        <td class="hint"><%=t '.credits_hint' %></td>
      </tr>
      
      <!-- Localized names -->
      <tr>
        <td colspan="3"><span class="hint"><%= t('.name_hint').html_safe %></td>
      </tr>
      <%= f.fields_for :course_descriptions do |cf| %>
        <tr>
          <td><%= label_tag :name, t(".name_#{cf.object.locale}"), :class => 'control-label' %></td>
          <td><%= cf.text_field :name %></td>
          <td></td>
        </tr>
      <% end %>
      
      <tr>
        <td><%= f.label :language, t('.language'), :class => 'control-label' %></td>
        <td><%= f.text_field :language %></td>
        <td class="hint"><%=t '.language_hint' %></td>
      </tr>
      <tr>
        <td><%= f.label :graduate_course, t('.graduate_course'), :class => 'control-label' %></td>
        <td><%= f.check_box :graduate_course %> Kyllä</td>
        <td class="hint"><%=t '.graduate_course_hint' %></td>
      </tr>
      <tr>
        <td><%= f.label :changing_topic, t('.changing_topic'), :class => 'control-label' %></td>
        <td><%= f.check_box :changing_topic %> Kyllä</td>
        <td class="hint"><%=t '.changing_topic_hint' %></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2" class="hint"><%=t '.period_hint' %></td>
      </tr>
      <tr>
        <td><%= f.label :period, t('.period'), :class => 'control-label' %></td>
        <td><%= f.text_field :period %></td>
        <td><%= scoped_course_comment('period') %></td>
      </tr>
      <tr>
        <td><%= f.label :instructors, t('.instructors'), :class => 'control-label' %></td>
        <td><%= f.text_area :instructors, :rows => 5, :class => 'input-xxlarge' %></td>
        <td><%= scoped_course_comment('instructors') %></td>
      </tr>
    </tbody>
  </table>
  
  <%= fields_for @localized_description do |cf| %>
    <table class="temp-course-form">
      <tbody>
        <tr>
          <td><%= cf.label :department, t('.department'), :class => 'control-label' %></td>
          <td><%= cf.text_field :department %></td>
          <td class="hint"><%=t '.department_hint' %></td>
        </tr>
        <tr>
          <td><%= cf.label :grading_scale, t('.grading_scale'), :class => 'control-label' %></td>
          <td>
            <label>
              <%= cf.radio_button :grading_scale, '1-5' %>
              1-5
            </label>
            <label>
              <%= cf.radio_button :grading_scale, 'Hyväksytty/Hylätty' %>
              Hyväksytty/Hylätty
            </label>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="hint"><%=t '.comments' %></td>
        </tr>
        <tr>
          <td><%= cf.label :alternatives, t('.alternatives'), :class => 'control-label' %></td>
          <td><%= cf.text_area :alternatives, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('alternatives') %></td>
        </tr>
        <tr>
          <td><%= cf.label :prerequisites, t('.prerequisites'), :class => 'control-label' %></td>
          <td><%= cf.text_area :prerequisites, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('prerequisites') %></td>
        </tr>
        <tr>
          <td><%= cf.label :outcomes, t('.outcomes'), :class => 'control-label' %></td>
          <td><%= cf.text_area :outcomes, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('outcomes') %></td>
        </tr>
        <tr>
          <td><%= cf.label :content, t('.content'), :class => 'control-label' %></td>
          <td><%= cf.text_area :content, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('content') %></td>
        </tr>
        <tr>
          <td><%= cf.label :assignments, t('.assignments'), :class => 'control-label' %></td>
          <td><%= cf.text_area :assignments, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('assignments') %></td>
        </tr>
        <tr>
          <td><%= cf.label :grading_details, t('.grading_details'), :class => 'control-label' %></td>
          <td><%= cf.text_area :grading_details, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('grading_details') %></td>
        </tr>
        <tr>
          <td><%= cf.label :materials, t('.materials'), :class => 'control-label' %></td>
          <td><%= cf.text_area :materials, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('materials') %></td>
        </tr>
        <tr>
          <td><%= cf.label :replaces, t('.replaces'), :class => 'control-label' %></td>
          <td><%= cf.text_area :replaces, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('replaces') %></td>
        </tr>
        <tr>
          <td><%= cf.label :other, t('.other'), :class => 'control-label' %></td>
          <td><%= cf.text_area :other, :rows => 5, :class => 'input-xxlarge' %></td>
          <td><%= scoped_course_comment('other') %></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><span class="hint"><%=t '.other_hint' %></span></td>
        </tr>
      </tbody>
    </table>
  
  <% end %>
  
  <div class="actions">
    <button type="submit" class="btn btn-primary"><%= t(:Save) %></button>
  </div>

<% end %>

<p><%= link_to t(:Back), edit_curriculum_path(@curriculum) %></p>
