<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/curriculums/courseGraph' %>
<% end %>

<% content_for :title do %>
  <%= @scoped_course.localized_name + ' - ' + t('.title') %>
<% end %>


<%= render :partial => 'tabs' %>

<div id="course-graph" 
    data-graph-path="<%= graph_curriculum_path(:id => @curriculum.id) %>"
    data-source-id="<%= @scoped_course.id %>"
    >
    
    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
</div>

<%= render :partial => 'courses/graph_templates' %>
