<% content_for :title do %><%= @curriculum.name %> - <%=t '.create_course_heading' %><% end %>

<h1><%=t '.create_course_heading' %></h1>


<%= form_for @scoped_course, :url => curriculum_courses_path(@curriculum) do |f| %>
  <div class="form-control-group">
    <%= f.label t('.course_code'), :class => 'form-label' %>
    <div class="form-controls">
      <%= text_field_tag :course_code, @course_code, :class => 'field-lengthy' %>
      <span class="help-inline"><%=t '.create_course_hint' %></span>
    </div>
  </div>

  <div class="form-controls">
    <%= link_to t(:Cancel), edit_curriculum_path(@curriculum), :class => 'btn' %>
    <%= f.submit t(:Save), :class => 'btn btn-primary' %>
  </div>
<% end %>

