<% content_for :javascript do %>
  <%= javascript_include_tag 'raphael-min' %>
  <%= javascript_include_tag 'skillGraphView' %>
  <%= javascript_include_tag 'graphCourse' %>
  <%= javascript_include_tag 'graphSkill' %>
<% end %>

<!--%= link_to t(:Back), curriculum_course_path(:curriculum_id => @curriculum.id, :id => @course.id) %-->

<div id="layers">
  <div id="svg"></div>
  <div id="course-graph" 
    data-course-id="<%= @course.id %>" 
    data-courses-path="<%= curriculum_courses_path(:curriculum_id => @curriculum.id) %>" 
    data-competences-path="<%= curriculum_competences_path(:curriculum_id => @curriculum.id) %>" 
    data-skills-path="<%= curriculum_skills_path(:curriculum_id => @curriculum.id) %>">

  <!--svg width="500px" height="500px" id="svg-canvas"  xmlns="http://www.w3.org/2000/svg" version="1.1"></svg-->
  </div>
</div>
