<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/curriculums/courseGraph' %>
<% end %>
<% content_for :title do %><%= @course.localized_name %><% end %>

<h1><%= @course.course_code %> <%= @course.localized_name %></h1>

<h2><%=t('.course_path_heading')%></h2>

<!-- Course graph -->
<div id="course-graph" 
    data-courses-path="<%= curriculum_courses_path(:curriculum_id => @curriculum.id) %>" 
    data-competences-path="<%= curriculum_competences_path(:curriculum_id => @curriculum.id) %>" 
    data-skills-path="<%= curriculum_skills_path(:curriculum_id => @curriculum.id) %>"
    data-source-id="<%= @course.id %>"
    >
    
    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
</div>

<%= render :partial => 'courses/graph_templates' %>


<h2><%=t :course_prereqs_reqursive %></h2>

<%= render :partial => '/courses/prereqs_reqursive' %>
