<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/curriculums/courseGraph' %>
<% end %>
<% content_for :title do %><%= @course.localized_name %><% end %>

<% if can? :update, @curriculum %>
  <ul class="nav nav-pills pull-right">
    <li><%= link_to t('Admin_view'), edit_prereqs_curriculum_course_path(:curriculum_id => @curriculum, :id => @course) %></li>
    <li class="active"><%= link_to t('Student_view'), curriculum_course_path(curriculum_id: @curriculum, id: @course) %></li>
  </ul>
<% end %>

<div>
  <h1><%= @course.course_code %> <%= @course.localized_name %></h1>
</div>


<h2><%=t('.course_path_heading')%></h2>

<!-- Course graph -->
<div id="course-graph"
    data-graph-path="<%= graph_curriculum_path(:id => @curriculum.id) %>"
    data-source-id="<%= @course.id %>"
    >
    
    <!-- ko template: { name: 'courseTemplate', foreach: visibleCourses, afterRender: updateElementDimensions } --><!-- /ko -->
</div>

<%= render :partial => 'courses/graph_templates' %>


<h2><%=t :course_prereqs_reqursive %></h2>

<%= render :partial => '/courses/prereqs_reqursive' %>
