<h1><%=t :profile_edit_heading %></h1>

<%= render :partial => 'form' %>


<h1><%=t :profile_competences_heading %></h1>

<div id="competences">
  <% @profile.competences.each do |competence| %>
    <ul>
      <li><%= link_to competence.name(I18n.locale), edit_curriculum_competence_path(@curriculum, competence) %></li>
    </ul>
  <% end %>
</div>

<p><%= link_to t(:competence_create_link), new_profile_competence_path(@profile), :remote => true %></p>
