<% content_for :javascript do %>
  <%= javascript_include_tag 'profileCourseView' %>
<% end %>
  
<h1>
  <%=h @profile.name(I18n.locale) %>
</h1>

<p><%=h @profile.description(I18n.locale) %></p>


<% @profile.competences.each do |competence| %>
  <%= competence.name(I18n.locale) %>
<% end %>


<% if can? :update, @profile %>
  <div class="admin-tools">
    <%= link_to 'Edit', edit_curriculum_profile_path(:curriculum_id => @curriculum.id, :id => @profile.id) %>
  </div>
<% end %>
