<!-- curriculums/profiles/show -->

<% content_for :javascript do %>
  <%= javascript_include_tag 'profileCourseView' %>
<% end %>
  
<h1>
  <%=h @profile.name(I18n.locale) %>
</h1>

<% if can? :update, @profile %>
  <div class="admin-tools">
    <ul>
      <li><%= link_to t(:profile_edit_link), edit_curriculum_profile_path(:curriculum_id => @curriculum.id, :id => @profile.id) %></li>
      <li><%= link_to 'Delete', @profile, :method => :delete %></li>
    </ul>
  </div>
<% end %>


<!-- Profile description -->
<p><%=h @profile.description(I18n.locale) %></p>

<!-- Competences -->

<% @profile.competences.each do |competence| %>
  <h2><%= link_to competence.name(I18n.locale), [@curriculum, competence] %></h2>
  
  <p><%= competence.description(I18n.locale) %></p>
<% end %>
