<!-- bootstrap-based navbar -->

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= frontpage_path %>">
      <div class="logo">
        <span class="o4">O<sup>4</sup></span> 
        <span class="program-name"><%=t('header.program_name')%></span>
      </div>
    </a>
    <ul class="nav">
      <%= nav_link_to t('header.dashboard'), frontpage_path %>
      <% if logged_in? %>
        <%= nav_link_to t('header.curriculum'), studyplan_curriculum_path %>
        <%= nav_link_to t('header.competences'), studyplan_competences_path %>
        <%= nav_link_to t('header.courses'), studyplan_courses_path %>
        <%= nav_link_to t('header.schedule'), studyplan_schedule_path %>
      <% end %>
    </ul>

    <ul class="nav pull-right">
      <li>
        <%= link_to 'FI', url_for(:locale => 'fi'), :class => 'lang-link' %>
        <%= link_to 'EN', url_for(:locale => 'en'), :class => 'lang-link' %>
      </li>

      <li class="divider-vertical"></li>

      <% if logged_in? %>
        <li>
          <p class="navbar-text">
            <i class="icon-user"></i>
            <%= current_user.name %>
          </p>
        </li>
        <!--li><%= link_to 'My preferences', preferences_path %></li-->
        <li><%= link_to t('header.logout'), logout_path %></li>
      <% else %>
        <li><%= link_to t('header.login'), login_url %></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="clear"></div>

