<!-- bootstrap-based navbar -->

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= frontpage_path %>">
      <div class="logo">
        <span class="o4">O<sup>4</sup></span> 
        <span class="program-name"><%=t('header.program_name')%></span>
      </div>
    </a>
    <ul class="nav">
      <%= nav_link_to t('header.frontpageTab'), frontpage_path %>
      <%= nav_link_to t('header.curriculumsTab'), curriculums_path %>
      <% if logged_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="" href="#">
            <%= t('header.myPlanDropdown') %>
            <b class="caret"></b>
          </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%= link_to t('header.myPlanTabCurriculum'), studyplan_curriculum_path %></li>
              <li><%= link_to t('header.myPlanTabCompetences'), studyplan_competences_path %></li>
              <% if false # Temporarily disabled %>
                <li><%= link_to t('header.myPlanTabAllCourses'), studyplan_courses_path %></li>
              <% end %>
              <!--li><%= link_to t('header.myPlanTabMyCourses'),  studyplan_courses_path %></li-->
              <% if false # Temporarily disabled %>
                <li><%= link_to t('header.myPlanTabSchedule'), studyplan_schedule_path %></li>
              <% end %>
            </ul>
        </li>
      <% end %>
    </ul>

    <ul class="nav pull-right">
      <li>
        <%= link_to 'FI', url_for(:locale => 'fi'), :class => 'lang-link' %>
        <%= link_to 'EN', url_for(:locale => 'en'), :class => 'lang-link' %>
      </li>

      <li class="divider-vertical"></li>

      <% if logged_in? %>
        <li>
          <p class="navbar-text">
            <i class="icon-user"></i>
            <%= current_user.name %>
          </p>
        </li>
        <!--li><%= link_to 'My preferences', preferences_path %></li-->
        <li><%= link_to t('header.logout'), logout_path %></li>
      <% else %>
        <li><%= link_to t('header.login'), login_url %></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="clear"></div>

