<div id="header" class="header">
  <!-- Logo -->
  <div class="logo"><span class="o4">O<sup>4</sup></span> <span class="program-name"><%=t :program_name%></span></div>

  <!-- Login -->
  <div class="login">
    <% if logged_in? %>
      <%= current_user.name %>
    <% end %>
  </div>

  <div class="navibar">
    <ul>
      <%
      # Language
      # Only show the language button for GET requests. If the current page is the result of a POST request, doing a GET request to the same URL could lead to a different view or a 404.
      if request.get? %>
        <li><%= link_to 'FI', url_for(:locale => 'fi') %></li>
        <li><%= link_to 'EN', url_for(:locale => 'en') %></li>
      <% end %>

      <% if logged_in? %>
        <li><%= link_to 'My preferences', preferences_path %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'Login', url_for(:require_login => true) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="clear"></div>

<%= render_crumbs :format => :html_list, 
                  :separator => content_tag(:span, '&raquo;'.html_safe, :class => 'divider'),
                  :ul_class => 'breadcrumb',
                  :active_li_class => 'active' %>

<div class="topNaviTabs">
  <ul>
    <li><%= link_to t(:frontpageTab), root_path %></li>
  </ul>

  <ul>
    <li><%= link_to t(:curriculumsTab), curriculums_path %></li>
  </ul>

  <ul>
    <li><%= link_to t(:myPlanTabCurriculum), studyplan_curriculum_path %></li>
    <li><%= link_to t(:myPlanTabProfiles), studyplan_profiles_path %></li>
    <li><%= link_to t(:myPlanTabAllCourses), studyplan_courses_path %></li>
    <!--li><%= link_to t(:myPlanTabMyCourses), studyplan_courses_path %></li-->
    <li><%= link_to t(:myPlanTabSchedule), studyplan_schedule_path %></li>
    <!--li><%= link_to t(:myPlanTabRecord), studyplan_record_path %></li-->
  </ul>
</div>



<div class="clear"></div>
