<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= content_for?(:title) ? yield(:title) : 'O4' %></title>
    <%= csrf_meta_tag %>
    <% @stylesheets.each do |stylesheet| %>
      <%= stylesheet_link_tag stylesheet, :media => 'all' %>
    <% end %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    <%= javascript_include_tag "application" %>
    <%= yield(:javascript) %>
</head>
