<!-- bootstrap-based navbar -->

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
      <div class="logo">
        <span class="o4">O<sup>4</sup></span> 
        <span class="program-name"><%=t :program_name%></span>
      </div>
    </a>
    <ul class="nav">
      <%= nav_link_to t(:frontpageTab), frontpage_path %>
      <%= nav_link_to t(:curriculumsTab), curriculums_path %>
    </ul>

    <ul class="nav pull-right">
      <li><%= link_to 'FI', url_for(:locale => 'fi') %></li>
      <li><%= link_to 'EN', url_for(:locale => 'en') %></li>

      <li class="divider-vertical"></li>

      <% if logged_in? %>
        <li><%= current_user.name %></li>
        <!--li><%= link_to 'My preferences', preferences_path %></li-->
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'Login', login_url %></li>
      <% end %>
    </ul>
  </div>
</div>



<div class="clear"></div>

<div class="topNaviTabs">

  <% if false && logged_in? %>
    <ul>
      <li><%= link_to t(:myPlanTabCurriculum), studyplan_curriculum_path %></li>
      <li><%= link_to t(:myPlanTabProfiles), studyplan_profiles_path %></li>
      <li><%= link_to t(:myPlanTabAllCourses), studyplan_courses_path %></li>
      <!--li><%= link_to t(:myPlanTabMyCourses), studyplan_courses_path %></li-->
      <li><%= link_to t(:myPlanTabSchedule), studyplan_schedule_path %></li>
      <!--li><%= link_to t(:myPlanTabRecord), studyplan_record_path %></li-->
    </ul>
  <% end %>
</div>

<div class="clear"></div>
