<!-- Flash messages -->
<% if flash[:notice] %>
  <p class="flash flashNotice"><%= flash[:notice]  %></p>
<% end %>
<% if flash[:alert] %>
  <p class="flash flashAlert"><%= flash[:alert]  %></p>
<% end %>
<% if flash[:warning] %>
  <p class="flash flashWarning"><%= flash[:notice]  %><%= flash[:warning] %></p>
<% end %>
<% if flash[:success] %>
  <p class="flash flashSuccess"><%= flash[:success] %></p>
<% end %>
<% if flash[:error] or flash[:failure] %>
  <p class="flash flashError"><%= flash[:alert] %><%= flash[:error] %><%= flash[:failure] %></p>
<% end %>
