<!-- Flash messages -->
<% if flash[:notice] or flash[:warning] %>
  <p class="flash flashWarning"><%= flash[:notice]  %><%= flash[:warning] %></p>
<% end %>

<% if flash[:success] %>
  <p class="flash flashSuccess"><%= flash[:success] %></p>
<% end %>

<% if flash[:alert] or flash[:error] or flash[:failure] %>
  <p class="flash flashError"><%= flash[:alert] %><%= flash[:error] %><%= flash[:failure] %></p>
<% end %>
