<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ops</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag @stylesheets %>
    <%= javascript_include_tag  :defaults %>
</head>
<body>

<%= render :partial => 'layouts/header' %>


<div class="clear"></div>

  
<div class="page">
  <!--div id="contextHelp">
  </div-->
  <div class="leftNavi">
    <ul>
      <li><%= link_to t(:navi_plan), plan_path %></li>
      <li><%= link_to t(:navi_curriculums), curriculums_path %></li>
    </ul>
    
    <% if @curriculum && !@curriculum.new_record? %>
      <h2><%= @curriculum.name %></h2>
      <ul>
        <li><%= link_to t(:navi_profiles), profiles_path %></li>
        <li><%= link_to t(:navi_courses), courses_path %></li>
      </ul>
    <% end %>
  </div>

  <div class="content">
    <%= render :partial => 'layouts/messages' %>

    <%= yield %>
  </div>
</div>


</body>
</html>
