<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

<div class="page">

  <div class="leftNavi">

    <ul>
      <li><%= link_to t(:navi_plan), plan_path %></li>
      <li><%= link_to t(:navi_curriculums), curriculums_path %></li>
    </ul>

    <% if @curriculum %>
      <h2><%= @curriculum.name %></h2>

      <ul>
        <li><%= link_to t(:navi_profiles), profiles_path %></li>
        <li><%= link_to t(:navi_courses), courses_path %></li>

        <!-- Courses belonging to the curriculum -->
        <ul>
          <% @curriculum.courses.each do |course| %>
            <li class="<%= course == @course ? 'selected' : '' %>"><%= link_to course.name(I18n.locale), course_url(:id => course.id) %></li>
          <% end %>
        </ul>

      </ul>
    <% end %>
  </div>

  <div class="content">
    <%= render :partial => 'layouts/messages' %>

    <%= yield %>
  </div>
</div>

<%= render :partial => 'layouts/javascript_includes' %>
</body>
</html>
