<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

<div class="page">
  <!--div id="contextHelp">
  </div-->

  <div class="leftNavi">

    <% if @profile %>
      <h1><%= link_to @curriculum.name, curriculum_path(:id => @curriculum) %></h1>
      <ul>
        <% @curriculum.profiles.each do |profile| %>
          <li class="<%= profile == @profile ? 'selected' : '' %>"><%= link_to profile.name(I18n.locale), curriculum_profile_path(:curriculum_id => @curriculum, :id => profile) %></li>
          <!-- Courses belonging to the profile -->

          <% if false && profile == @profile %>
            <ul>
              <% profile.courses.each do |course| %>
                <li class="<%= course == @course ? 'selected' : '' %>"><%= link_to course.name(I18n.locale), curriculum_profile_course_path(:curriculum_id => @curriculum, :profile_id => profile, :id => course) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
    <% elsif @course %>
      <h1><%= link_to @curriculum.name, curriculum_path(:id => @curriculum) %></h1>
      <ul>
        <% @curriculum.courses.each do |course| %>
          <li class="<%= course == @course ? 'selected' : '' %>"><%= link_to course.name(I18n.locale), curriculum_course_path(:curriculum_id => @curriculum, :id => course) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="content">
    <%= render :partial => 'layouts/messages' %>

    <%= yield %>
  </div>
</div>


</body>
</html>
