<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<% content_for(:corestylesheets) do -%>
  <%= stylesheet_link_tag "layouts/browser", :media => 'all' %>
<% end -%>
<%= render partial: 'layouts/core/head' %>

<body>
  <%= render partial: 'layouts/navs/top', locals: {fixed_nav: true}  %>

  <div class="container">
    <%= render partial: 'layouts/core/messages' %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'core/core' %>
  <%= yield(:javascripts) %>
</body>
</html>
