<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

  
<div class="page">
  <!--div id="contextHelp">
  </div-->

  <div class="content">
    <%= render :partial => 'layouts/messages' %>

    <%= yield %>
  </div>
</div>


</body>
</html>
