<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

<div class="page">

  <div class="leftNavi">

    <%= yield :left_navi %>

  </div>

  <div class="content">
    <%= render :partial => 'layouts/messages' %>

    <%= yield %>
  </div>
</div>

<%= render :partial => 'layouts/javascript_includes' %>
</body>
</html>
