<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

<div class="page">
  <!--div id="contextHelp">
  </div-->

  <div class="leftNavi">

    <% if @profile %>
      <h1><%= link_to t(:myPlanTabProfiles), studyplan_profiles_path %></h1>
      <ul>
        <% @curriculum.profiles.each do |profile| %>
          <li class="<%= profile == @profile ? 'selected' : '' %>"><%= link_to profile.name(I18n.locale), studyplan_profile_path(:id => profile.id) %></li>
          
          <!-- Courses belonging to the profile -->
          <% if @competence && profile == @profile %>
            <ul>
              <% @competence.courses_recursive.each do |course| %>
                <li class="<%= course == @course ? 'selected' : '' %>"><%= link_to course.name(I18n.locale), studyplan_competence_course_path(:competence_id => @competence.id, :id => course.id) %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
    <% elsif @course %>
      <h1><%= link_to t(:plan_my_courses), studyplan_courses_path %></h1>
      <ul>
        <% @user.courses.each do |course| %>
          <li class="<%= course == @course ? 'selected' : '' %>"><%= link_to course.name(I18n.locale), studyplan_course_path(:id => course) %>
        <% end %>
      </ul>
    <% end %>

  </div>

  <div class="content">
    <%= render :partial => 'layouts/messages' %>

    <%= yield %>
  </div>
</div>

<%= render :partial => 'layouts/javascript_includes' %>
</body>
</html>
