<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

<div class="clear"></div>
  
<div class="page">
  <!--div id="contextHelp">
  </div-->
  
  <div class="myPlanTabs">
    <ul>
      <li><%= link_to t(:myPlanTabCurriculum), studyplan_curriculum_path %></li>
      <li><%= link_to t(:myPlanTabProfiles), studyplan_profiles_path %></li>
      <li><%= link_to t(:myPlanTabCourses), studyplan_courses_path %></li>
      <li><%= link_to t(:myPlanTabSchedule), studyplan_schedule_path %></li>
      <li><%= link_to t(:myPlanTabRecord), studyplan_record_path %></li>
    </ul>
  </div>
  <div class="clear"></div>

  <div class="content">
    <%= render :partial => 'layouts/messages' %>

    <%= yield %>
  </div>
</div>


</body>
</html>
