<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

<div class="row-fluid">
  <div class="span6 offset3">
    <%= render :partial => 'layouts/messages' %>
    <%= yield %>
  </div>
</div>



<%= render :partial => 'layouts/javascript_includes' %>
</body>
</html>