<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
<%= render :partial => 'layouts/head' %>

<body>

<%= render :partial => 'layouts/header' %>

  
<div class="page">
  <!--div id="contextHelp">
  </div-->
 
  <%= render :partial => 'layouts/messages' %>

  <%= yield %>
  
</div>

<%= render :partial => 'layouts/javascript_includes' %>
</body>
</html>
